<ng-container *mobxAutorun>
  <div class="page-section">
    <div class="action-bar">
      <div class="nav-content">
        <h3 class="head-title">
          {{labels?.title}}
        </h3>
        <div class="flex1"></div>
        <div class="action-list-item">
          <div class="action-item">
            <button mat-button (click)="create()" class="enbutton primary">{{labels?.addNew}}</button>
          </div>
        </div>
      </div>
    </div>
    <nav mat-tab-nav-bar>
      <a mat-tab-link *ngFor="let link of tabs" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">{{link.label}}</a>
    </nav>
    <ng-container *ngIf="store?.data?.length>0 && !store?.loading">
      <div class="card-wrapper tab">
        <div class="tb-content">
          <div class="card-header">
            <div class="card-item">
              <div class="card-col5">
                <div class="flex-block">
                  លេខរៀង
                </div>
              </div>
              <div class="card-col15">
                <div class="flex-block">
                  លេខបទល្មើស
                </div>
              </div>
              <div class="card-col15">
                <div class="flex-block">
                  លេខ សាលក្រម/ដីការ
                </div>
              </div>
              <div class="card-col15">
                <div class="flex-block">
                  ចៅក្រម
                </div>
              </div>
              <div class="card-col15">
                <div class="flex-block">
                  ចៅក្រម ថ្ងៃស៊ើបសួរ
                </div>
              </div>
              <div class="card-col15">
                <div class="flex-block">
                  ក្រទ្បាបញ្ចី
                </div>
              </div>
              <div class="card-col15">
                <div class="flex-block">
                  ក្រទ្បាបញ្ចី ថ្ងៃធ្វើ
                </div>
              </div>
              <div class="card-col5">
                <div class="flex-block">
                  ស្ថានភាព
                </div>
              </div>
              <div class="card-col5"></div>
            </div>
          </div>
          <div class="card-content">
            <ng-container *ngFor="let item of store?.data ;let i=index">
              <div class="card-item">
                <div class="card-col5">
                  <div class="flex-block">
                    <span>{{i+1}}</span>
                  </div>
                </div>
                <div class="card-col15">
                  <div class="flex-block">
                    <strong>{{item?.crime?.crime_no}}</strong>
                  </div>
                </div>
                <div class="card-col15">
                  <div class="flex-block">
                    {{item?.verdict_no}}
                  </div>
                </div>
                <div class="card-col15">
                  <div class="flex-block">
                    {{item?.judge?.full_name}}
                  </div>
                </div>
                <div class="card-col15">
                  <div class="flex-block">
                    {{item?.judge_ask_date?.toDate() | date:'short'}}
                  </div>
                </div>
                <div class="card-col15">
                  <div class="flex-block">
                    {{item?.judgment_writer?.full_name}}
                  </div>
                </div>
                <div class="card-col10">
                  <div class="flex-block">
                    {{item?.judgment_writer_date?.toDate() | date:'short'}}
                  </div>
                </div>
                <div class="card-col5">
                  <div class="flex-block" *ngIf="item?.status?.key===3">
                    <span class="status green">បង្ក្រាបបាន</span>
                  </div>
                  <div class="flex-block" *ngIf="item?.status?.key!==3">
                    <span class="status">មិនទាន់បង្ក្រាប</span>
                  </div>
                </div>
                <div class="card-col5">
                  <div class="card-list-action">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="confirmDone(item)">
                        <mat-icon>done_all</mat-icon>
                        <span>Complete</span>
                      </button>
                      <button mat-menu-item (click)="edit(item)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                      </button>
                      <button mat-menu-item (click)="delete(item)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!store?.data?.length>0 && !store?.loading">
      <div class="empty-block">
        <div class="center-block-empty">
          <div class="empty-img">
            <img src="https://mobilecenter.azureedge.net/generated/img/no-apps-db6363dd644196e2291b243bc210e1b0.svg"
              alt="empty">
          </div>
          <div class="empty-text">
            <p class="empty-state-title">
              {{labels?.empty}}
            </p>
            <p class="empty-state-desc">
              {{labels?.emptyNote}}
            </p>
            <button mat-button class="add-button" (click)="create()">{{labels?.addNew}}</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <app-spinner *ngIf="store?.loading"></app-spinner>
</ng-container>