<h4 class="form-title">ព័តមានស្ដីពីជនសង្ស័យ</h4>
<div id="print">
    <div class="mainForm">
        <div class="head">
          <div class="matHead">
            <h2 class="m-0" style="line-height: normal; font-size: 16px"><span class="form-title">E. ព័តមានស្ដីពីជនសង្ស័យ</span></h2>
            <div class="postNumber">
              <div class="matPostNumber field">
                <label>លេខករណី(ប៉ុស្ដិ៏): </label>
                <input class="dot two">
                <p>/</p>
                <input class="dot two">
                <p>/</p>
                <input class="dot two">
              </div>
              <div class="postcode">
                <label>កូដតំបន់</label>
                <label style="padding: 0px 12px;">/</label>
                <label>កូដតំបន់</label>
                <label style="padding: 0 12px;">/</label>
                <label>លេខករណី</label>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <div style="display:flex;">
            <div style="width: 50%;">
              <table style="width:100%" class="tableTd">
                <tr>
                  <th class="bgColor" colspan="10" style="display: flex;justify-content: space-between; align-items: center">
                    <label><span class="no">1</span> ព័ត៍មានផ្ទាល់ខ្លួន</label>
                    <div class="field">
                      <label>ជនរងគ្រោ:ទី</label>
                      <input class="dot2">
                    </div>
                  </th>
                </tr>
                <tr>
                  <td>
                    <div class="field">
                      <label>គោតនាម</label> <input class="dot">
                      <label>នាម</label> <input class="dot">
                      <label>ភេទ</label>​
                      <mat-checkbox class="spacing1">ស្រី</mat-checkbox>​
                      <mat-checkbox class="spacing1">ប្រុស</mat-checkbox>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="field">
                      <label>សញ្ជាតិ:</label>​
                      <mat-checkbox class="spacing1">ស្រី</mat-checkbox>
                      ​<mat-checkbox class="spacing1">ប្រុស</mat-checkbox>
                      <input class="dot">
                      <p>ថ្ងៃខែឆ្នាំកំណើត:</p> ​<input class="dot">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="field">
                      <label>ទីកន្លែងកំណើត រា.ធានី/ខេត្ដ:</label>​<input class="dot">
                      <label>ខ័ណ្ឌ/ក្រុ/ស្រុ:</label> ​<input class="dot">
                      <label>ស.ក/ឃុំ:</label> ​<input class="dot">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="field">
                      <label>ភូមិ:</label>​<input class="dot">
                      <label>ផ្សេងៗ:</label> ​<input class="dot">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="field">
                      <label>ប័ណ្ណសំគាល់:</label>​
                      <mat-checkbox class="spacing1">អត្ដសញ្ញាណប័ណ្ណ</mat-checkbox>
                      <mat-checkbox class="spacing1">លិខិតឆ្លងដែន</mat-checkbox>
                      <mat-checkbox class="spacing1">ប័ណ្ណបើកបរ</mat-checkbox>
                      <label>លេខ:</label>​<input class="dot3">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex">
                      <label class="bold">មុខរបរ </label>
                      <div style="display: flex;">
                        <div class="" style="display: flex; flex-direction: column; ">
                          <mat-checkbox>កម្មករ</mat-checkbox>
                          <mat-checkbox>មន្រីរាជការ</mat-checkbox>
                          <mat-checkbox>អាវុធហត្ថ</mat-checkbox>
                        </div>
                        <div class="" style="display: flex; flex-direction: column; ">
                          <mat-checkbox>កសិករ</mat-checkbox>
                          <mat-checkbox>យោធា</mat-checkbox>
                          <mat-checkbox class="">អ្នកនេសាទ</mat-checkbox>
                        </div>
                        <div class="" style="display: flex; flex-direction: column; ">
                          <mat-checkbox>គ្រូបង្រៀន</mat-checkbox>
                          <mat-checkbox>យោធិន</mat-checkbox>
                          <mat-checkbox>មិនពិតប្រាកដ</mat-checkbox>
                        </div>
      
                        <div class="" style="flex:1">
                          <div class="d-flex">
                            <div style="display: flex; flex-direction: column; ">
                              <mat-checkbox>ប្រជាជន</mat-checkbox>
                              <mat-checkbox>នគរបាល</mat-checkbox>
                            </div>
                            <div style="display: flex; flex-direction: column; ">
                              <mat-checkbox>អាជីវករ</mat-checkbox>
                              <mat-checkbox>សន្ដិសុខឯកជន</mat-checkbox>
                            </div>
                            <div style="display: flex; flex-direction: column; ">
                              <mat-checkbox>សិស្សនិសិ្សត</mat-checkbox>
                            </div>
                          </div>
                          <div class="field">
                            <mat-checkbox class="">ផ្សេងៗ</mat-checkbox>
                            <input class="dot">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <label>ទីកន្លែងប្រកបរបរ:</label>
                      <input class="dot">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="field">
                      <label>ទីលំនៅរា.ធានី/ខេត្ដ:</label><input class="dot">
                      <label>ខ័ណ្ណ/ក្រុ/ស្រុ:</label>​<input class="dot">
                    </div>
                    <div class="field">
                      <label>ស-ក/ឃុំ:</label><input class="dot">
                      <label>ភូមិ:</label>​<input class="dot">
                    </div>
      
                    <div class="field">
                      <label>ផ្លូវ:</label><input class="dot">
                      <label>ផ្ទះលេខ:</label>​<input class="dot">
                      <mat-checkbox>អចិន្រៃ្ដយ</mat-checkbox>
                      <mat-checkbox class="spacing">ផ្ទះជួល</mat-checkbox>
                      <mat-checkbox class="spacing">មិនពិតប្រាកដ</mat-checkbox>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="bgColor" colspan="10"><span class="no">2</span> ភិនភាគលក្ខណ:សំគាល់</th>
                </tr>
                <tr>
                  <td>
                    <div class="field">
                      <label>កំពស់:</label> <input class="dot">
                      <label>សំបុរ:</label> <input class="dot">
                      <label>មាឌ:</label> <input class="dot">
                      <label>ច្រមុះ:</label> <input class="dot">
                    </div>
                    <div class="field">
                      <label>មុខ:</label> <input class="dot">
                      <label>ភ្នែក:</label> <input class="dot">
                      <label>សក់:</label> <input class="dot">
                      <label>ចង្ការ:</label> <input class="dot">
                    </div>
                    <div class="field">
                      <label>ត្រចៀក:</label> <input class="dot">
                      <label>មាត់:</label> <input class="dot">
                      <label>ចិញ្ចើម:</label> <input class="dot">
                    </div>
                    <div class="field">
                      <label>ផ្សេងៗ:</label> <input class="dot">
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="bgColor" colspan="10"><span class="no">3</span> ឈ្មោះឪពុក-ម្ដាយ</th>
                </tr>
                <tr>
                  <td>
                    <div class="field">
                      <label>ឪពុកឈ្មោះ</label>
                      <label>គោត្ដនាម</label>
                      <input class="dot">
                      <label>នាម</label>
                      <input class="dot">
                      <label>ហៅក្រៅ</label>
                      <input class="dot">
                    </div>
                    <div class="field">
                      <label>ម្ដាយឈ្មោះ</label>
                      <label>គោត្ដនាម</label>
                      <input class="dot">
                      <label>នាម</label>
                      <input class="dot">
                      <label>ហៅក្រៅ</label>
                      <input class="dot">
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="bgColor" colspan="10">
                    <div class="field">
                      <label><span class="no">4 </span> ឃាត់ខ្លួន</label>
                      <mat-checkbox class="spacing1">បាន</mat-checkbox>
                      <mat-checkbox class="spacing1">មិនបាន</mat-checkbox>
                      <mat-checkbox class="spacing1">ស្លាប់</mat-checkbox>
                    </div>
                  </th>
                </tr>
                <tr>
                  <td>
                    <div class="field">
                      <mat-checkbox>មិនបាន</mat-checkbox>
                      <mat-checkbox class="spacing">បាន</mat-checkbox>
                      <mat-checkbox class="spacing">ថ្ងៃខែឆ្នាំ:</mat-checkbox>
                      <input class="dot two">
                      <p>/</p> <input class="dot two">
                      <p>/</p> <input class="dot two">
                    </div>
                    <div class="field">
                      <mat-checkbox>ចាក់ស្ដែង</mat-checkbox>
                      <mat-checkbox class="spacing">ស្រាវជ្រាវ</mat-checkbox>
                      <mat-checkbox class="spacing">ដិកា</mat-checkbox>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="bgColor" colspan="10">
                    <div class="field">
                      <label><span class="no">5</span> ធ្លាប់ប្រព្រឹត្ដបទល្មើស</label>
                      <mat-checkbox class="spacing1">ធ្លាប់</mat-checkbox>
                      <mat-checkbox class="spacing1">មិនធ្លាប់</mat-checkbox>
                    </div>
                  </th>
                </tr>
              </table>
            </div>
            <div style="width: 50%;">
                
              </div>
          </div>
        </div>
      </div>
</div>
