<div class="filter-penal">
    <h4>របាយការណ៍បទល្មើសតាមបទល្មើសតាមខេត្តក្រុង</h4>
    <div class="filter-box">
        <button mat-button (click)="defaultPeriod()" class="filter-panel-item">
            ត្រឡប់ទៅដើមវិញ
        </button>
    </div>
    <h4>ជ្រើសរើសតាមតំបន់</h4>
    <label class="label-date">ខេត្ត/ក្រុង</label>
    <div class="from-date-to-date  w-full">
        <div class="date-bl">
            <mat-select [formControl]="province" [compareWith]="compareWith">
                <mat-option *ngFor="let item of data" [value]="item">
                    {{item?.Name}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <label class="label-date">ស្រុក/ខណ្ឌ</label>
    <div class="from-date-to-date  w-full">
        <div class="date-bl">
            <mat-select [formControl]="district" [compareWith]="compareWith">
                <mat-option *ngFor="let item of districts" [value]="item">
                    {{item?.Name}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <label class="label-date">ឃុំ/សង្កាត់</label>
    <div class="from-date-to-date  w-full">
        <div class="date-bl">
            <mat-select [formControl]="commune" [compareWith]="compareWith">
                <mat-option *ngFor="let item of communes" [value]="item">
                    {{item?.Name}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="price-footer">
        <button mat-button (click)="_onApply()" class="btn-apply">បង្ហាញទិន្នន័យ</button>
    </div>
</div>