<h4 class="form-title">ព័តមានស្ដីពីជនរងគ្រោះ</h4>
<div id="print">
  <div class="mainForm">
    <div class="head">
      <div class="matHead">
        <h2 class="m-0" style="line-height: normal; font-size: 16px">D <span
            class="form-title">ព័តមានស្ដីពីជនរងគ្រោះ:</span> </h2>
        <div class="postNumber">
          <div class="matPostNumber field">
            <label>លេខករណី(ប៉ុស្ដិ៏): </label>
            <input class="dot two">
            <p>/</p>
            <input class="dot two">
            <p>/</p>
            <input class="dot two">
          </div>
          <div class="postcode">
            <label>កូដតំបន់</label>
            <label style="padding: 0px 12px;">/</label>
            <label>កូដតំបន់</label>
            <label style="padding: 0 12px;">/</label>
            <label>លេខករណី</label>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div style="display:flex;">
        <div style="width: 50%;">
          <table style="width:100%" class="tableTd">
            <tr>
              <th class="bgColor no-bd" style="display: flex;justify-content: space-between; align-items: center">
                <label><span class="no">1</span> ព័ត៍មានផ្ទាល់ខ្លួន</label>
                <div class="field">
                  <label>ជនរងគ្រោ:ទី</label>
                  <input class="dot">
                </div>
              </th>
            </tr>
            <tr>
              <td>
                <div class="field">
                  <label>គោតនាម</label> <input class="dot">
                  <label>នាម</label> <input class="dot">
                  <label>ភេទ</label>​
                  <mat-checkbox class="spacing1">ស្រី</mat-checkbox>​
                  <mat-checkbox class="spacing1">ប្រុស</mat-checkbox>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="field">
                  <label>សញ្ជាតិ:</label>​
                  <mat-checkbox class="spacing1">ស្រី</mat-checkbox>
                  ​<mat-checkbox class="spacing1">ប្រុស</mat-checkbox>
                  <input class="dot">
                  <label>ថ្ងៃខែឆ្នាំកំណើត:</label> ​<input class="dot">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="field">
                  <label>ទីកន្លែងកំណើត រា.ធានី/ខេត្ដ:</label>​<input class="dot">
                  <label>ខ័ណ្ឌ/ក្រុ/ស្រុ:</label> ​<input class="dot">
                  <label>ស.ក/ឃុំ:</label> ​<input class="dot">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="field">
                  <label>ភូមិ:</label>​<input class="dot">
                  <label>ផ្សេងៗ:</label> ​<input class="dot">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="field">
                  <label>ប័ណ្ណសំគាល់:</label>​
                  <mat-checkbox class="spacing1">អត្ដសញ្ញាណប័ណ្ណ</mat-checkbox>
                  <mat-checkbox class="spacing1">លិខិតឆ្លងដែន</mat-checkbox>
                  <mat-checkbox class="spacing1">ប័ណ្ណបើកបរ</mat-checkbox>
                  <label>លេខ:</label>​<input class="dot3">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="field">
                  <label class="bold">មុខរបរ </label>
                </div>
                <div class="d-flex">
                  <div class="" style="display: flex; flex-direction: column; ">
                    <mat-checkbox>កម្មករ</mat-checkbox>
                    <mat-checkbox>មិនពិតប្រាកដ</mat-checkbox>
                    <mat-checkbox>អាវុធហត្ថ</mat-checkbox>
                  </div>
                  <div class="" style="display: flex; flex-direction: column; ">
                    <mat-checkbox>កសិករ</mat-checkbox>
                    <mat-checkbox>យោធា</mat-checkbox>
                    <mat-checkbox class="">អ្នកនេសាទ</mat-checkbox>
                  </div>

                  <div class="" style="flex:1">
                    <div class="d-flex">
                      <div style="display: flex; flex-direction: column; width: calc(100% / 4)">
                        <mat-checkbox>គ្រូបង្រៀន</mat-checkbox>
                        <mat-checkbox>យោធិន</mat-checkbox>

                      </div>
                      <div style="display: flex; flex-direction: column; width: calc(100% / 4)">
                        <mat-checkbox>នគរបាល</mat-checkbox>
                        <mat-checkbox>សន្ដិសុខឯកជន</mat-checkbox>

                      </div>
                      <div style="display: flex; flex-direction: column; width: calc(100% / 4)">
                        <mat-checkbox>ប្រជាជន</mat-checkbox>
                        <mat-checkbox>សិស្សនិសិ្សត</mat-checkbox>

                      </div>
                      <div style="display: flex; flex-direction: column; width: calc(100% / 4)">
                        <mat-checkbox>មន្រីរាជការ</mat-checkbox>
                        <mat-checkbox>អាជីវករ</mat-checkbox>
                      </div>
                    </div>
                    <div class="field">
                      <mat-checkbox class="">ផ្សេងៗ</mat-checkbox>
                      <input class="dot">
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label>ទីកន្លែងប្រកបរបរ:</label>
                  <input class="dot">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="field">
                  <label>ទីលំនៅរា.ធានី/ខេត្ដ:</label><input class="dot">
                  <label>ខ័ណ្ណ/ក្រុ/ស្រុ:</label>​<input class="dot">
                </div>
                <div class="field">
                  <label>ស-ក/ឃុំ:</label><input class="dot">
                  <label>ភូមិ:</label>​<input class="dot">
                </div>
                <div class="field">
                  <label>ផ្លូវ:</label><input class="dot">
                  <label>ផ្ទះលេខ:</label>​<input class="dot">
                </div>
                <div class="field">
                  <mat-checkbox>អចិន្រៃ្ដយ</mat-checkbox>
                  <mat-checkbox class="spacing">ផ្ទះជួល</mat-checkbox>
                  <mat-checkbox class="spacing">មិនពិតប្រាកដ</mat-checkbox>
                </div>
              </td>
            </tr>
            <tr>
              <th class="bgColor" colspan="10"><span class="no">2</span> កំរិតនៃការរងគ្រោះ</th>
            </tr>
            <td>
              <div class="field">
                <mat-checkbox>របួសស្រាល</mat-checkbox>
                <mat-checkbox class="spacing">របួសធ្ងន់</mat-checkbox>
                <mat-checkbox class="spacing">មិនមានរងរបួស</mat-checkbox>
                <mat-checkbox class="spacing">ស្លាប់</mat-checkbox>
              </div>
            </td>
            <tr>
              <th class="bgColor" colspan="10"><span class="no">3</span> ទំនាក់ទំនងរវាងជនរងគ្រោះ និង ជនសង្ស័យ</th>
            </tr>
            <tr>
              <td>
                <div class="d-flex">
                  <div class="" style="display: flex; flex-direction: column;">
                    <mat-checkbox>កូន</mat-checkbox>
                    <mat-checkbox>មិត្ដភ័ក្រ្ដ</mat-checkbox>
                    <mat-checkbox>សាប់ញ្ញាតិ</mat-checkbox>
                    <mat-checkbox>ឱពុក-ម្ដាយ</mat-checkbox>
                  </div>
                  <div class="" style="display: flex; flex-direction: column;">
                    <mat-checkbox class="spacing">ធា្លប់ស្គាល់គ្នា</mat-checkbox>
                    <mat-checkbox class="spacing">មិនស្គាល់គ្នា</mat-checkbox>
                    <mat-checkbox class="spacing">អតីតប្ដី-ប្រពន្ធ</mat-checkbox>
                    <mat-checkbox class="spacing">អ្កជិតខាង</mat-checkbox>
                  </div>
                  <div class="" style="display: flex; flex-direction: column;">
                    <mat-checkbox class="spacing">ប្ដី-ប្រពន្ធ</mat-checkbox>
                    <mat-checkbox class="spacing">សង្សារ</mat-checkbox>
                    <mat-checkbox class="spacing">អតីតសង្សារ</mat-checkbox>
                    <mat-checkbox class="spacing">អ្ករស់នៅជាមួយគ្នា</mat-checkbox>

                  </div>
                </div>

                <div class="field">
                  <mat-checkbox>ផ្សេងៗ</mat-checkbox>
                  <input class="dot">
                </div>
                <div class="field">
                  <input class="dot">
                </div>
                <div class="field">
                  <input class="dot">
                </div>
              </td>
            </tr>

          </table>
        </div>
        <div style="width: 50%;">
          
        </div>
      </div>
    </div>
  </div>
</div>
