<div class="filter-penal">
    <h4>របាយការណ៍សង្ខេបបទល្មើសតាមកាលបរិច្ឆេទ</h4>
    <div class="filter-box">
        <button mat-button (click)="defaultPeriod()" class="filter-panel-item">
            ត្រឡប់ទៅដើមវិញ
        </button>
    </div>
    <h4>ជ្រើសរើសប្រភេទការបរិច្ឆេទ</h4>
    <mat-radio-group (change)="changePeriod($event)" [formControl]="periodOption" aria-labelledby="example-radio-group-label" class="example-radio-group">
        <mat-radio-button class="example-radio-button" *ngFor="let season of periodData" [value]="season">
            {{season?.name}}
        </mat-radio-button>
    </mat-radio-group>

    <label class="label-date">ចាប់ពីថ្ងៃទី</label>
    <div class="from-date-to-date">
        <div class="date-bl">
            <mat-select [formControl]="dayOfPeriod">
                <mat-option *ngFor="let item of days" [value]="item">
                    {{item?.name}}
                </mat-option>
            </mat-select>
        </div>
        <div class="date-bl">
            <mat-select [formControl]="monthOfPeriod">
                <mat-option *ngFor="let item of months" [value]="item">
                    {{item?.name}}
                </mat-option>
            </mat-select>
        </div>
        <div class="date-bl">
            <mat-select [formControl]="yearOfPeriod">
                <mat-option *ngFor="let item of years" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <label class="label-date">មកដល់ថ្ងៃទី</label>
    <div class="from-date-to-date">
        <div class="date-bl">
            <mat-select [formControl]="toDayOfPeriod">
                <mat-option *ngFor="let item of days" [value]="item">
                    {{item?.name}}
                </mat-option>
            </mat-select>
        </div>
        <div class="date-bl">
            <mat-select [compareWith]="compareWith" [formControl]="toMonthOfPeriod">
                <mat-option *ngFor="let mon of months" [value]="mon">
                    {{mon?.name}}
                </mat-option>
            </mat-select>
        </div>
        <div class="date-bl">
            <mat-select [compareWith]="compareWithYear" [formControl]="toYearOfPeriod">
                <mat-option *ngFor="let item of years" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="price-footer">
        <button mat-button (click)="_onApply()" class="btn-apply">បង្ហាញទិន្នន័យ</button>
    </div>
</div>