
<div class="crime-action-bar">
  <button mat-button color="primary" class="add-crime-bnt">កត់ត្រាអាវុធ</button>
</div>

<div class="crime-listing-card">
  <table class="crime-table-listing">
    <tr>
      <th>ល.រ</th>
      <th>ប្រភេទ</th>
      <th>ម៉ាក</th>
      <th>លេខកូដ</th>
      <th>ឆ្នាំផលិត</th>
      <th>កំណត់សម្គាល់</th>
    </tr>
    <tr>
      <td>1</td>
      <td>k-1</td>
      <td>AK98</td>
      <td>1AB-1867</td>
      <td>2010</td>
      <td>1AB-1867</td>
    </tr>
  </table>
</div>