

<form [formGroup]="form" class="dialog-wrapper">
  <div class="dialog-header">
    <div class="title">
      កែប្រែទិន្នន័យ
    </div>
    <div class="flex1"></div>
    <a mat-dialog-close class="close-dialog" (click)="dialogRef.close('no')">
      <i class="material-icons">&#xE14C;</i>
    </a>
  </div>

  <div class="dialog-content">
    <div class="form-wrapper">
      <div class="ui form">
          <ng-container *ngIf="data?.type?.key != 2">
              <div class="field">
                <label>សង្ខេប
                  <span class="rq-sign">*</span>
                </label>
                <textarea placeholder="បញ្ចូល សង្ខេប" formControlName="note"></textarea>
                <!-- <input type="text" placeholder="បញ្ចូល សង្ខេប" formControlName="note"> -->
                <div *ngIf="form.controls['note'].hasError('required') && form.controls['note'].touched"
                  class="error-message">This field is required.</div>
              </div>
          </ng-container>
          <ng-container *ngIf="data?.type?.key == 2">
          
              <div class="field">
                <label>ឈ្មោះ
                  <span class="rq-sign">*</span>
                </label>
                <input type="text" placeholder="បញ្ចូល ឈ្មោះ" required formControlName="name">
                <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched"
                  class="error-message">This field is required.</div>
              </div>
              <div class="field">
                <label>តួនាទី
                  <span class="rq-sign">*</span>
                </label>
                <input type="text" placeholder="បញ្ចូល តួនាទី" formControlName="role">
                <div *ngIf="form.controls['role'].hasError('required') && form.controls['role'].touched"
                  class="error-message">This field is required.</div>
              </div>
      
              <div class="field">
                <label>លេខទូរសព្ទ
                  <span class="rq-sign">*</span>
                </label>
                <input type="text" placeholder="បញ្ចូល លេខទូរសព្ទ" formControlName="phone_number">
                <div *ngIf="form.controls['phone_number'].hasError('required') && form.controls['phone_number'].touched"
                  class="error-message">This field is required.</div>
              </div>
            </ng-container>        
      </div>
    </div>

  </div>
  <div class="dialog-footer">
    <div class="flex1"></div>
    <a mat-dialog-close class="enbutton cancel m-r16" (click)="dialogRef.close('no')">បោះបង់</a>
    <button type="submit" class="enbutton primary m-r16" [disabled]="!form.valid || process"
      (click)="create(form.value)">រក្សាទុក</button>
  </div>
  <!-- <app-spinner *ngIf="fs?.process"></app-spinner> -->
</form>