<div class="crime-profile-card">
  <div class="card-bar">
    <h3>ទិដ្ឋភាពទូទៅ</h3>
  </div>
  <div class="card-content">
    <div class="tab-side-link">
     <div class="m-link" routerLinkActive="active" [routerLink]="['/crime-profile/' + id + '/material-lost/vehicles']">
        <a>
          យានជំនិះ
        </a>
     </div>
     <div class="m-link" routerLinkActive="active" [routerLink]="['/crime-profile/' + id + '/material-lost/jewelry']" >
        <a>
          គ្រឿងអលង្ការ
        </a>
     </div>
     <div class="m-link" routerLinkActive="active" [routerLink]="['/crime-profile/' + id + '/material-lost/currency']" >
        <a>
          រូបិយប័ណ្ណ
        </a>
     </div>
     <div class="m-link" routerLinkActive="active" [routerLink]="['/crime-profile/' + id + '/material-lost/other-exhibits']" >
        <a>
          សម្ភារៈបាត់បង់ផ្សេងទៀត
        </a>
    </div>
    </div>
    <div class="tab-side-content">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
