<div class="mainForm">
  <!-- <app-third-header></app-third-header> -->
  <div class="head">
    <div class="matHead">
      <h2></h2>
      <div class="img">
        <img src="/assets/images/logo.png" alt="">
        <h3>បច្ចុប្បន្នភាពបទលើ្មស</h3>
      </div>
      <div class="postNumber">
        <div class="matPostNumber field">
          <p>លេខករណី(ប៉ុស្ដិ៏): </p>
          <input class="dot two">
          <p>/</p>
          <input class="dot two">
          <p>/</p>
          <input class="dot two">
        </div>
        <div class="postcode">
          <p>កូដតំបន់</p>
          <p style="padding: 0px 12px;">/</p>
          <p>កូដតំបន់</p>
          <p style="padding: 0 12px;">/</p>
          <p>លេខករណី</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <table style="width:100%" class="tableTd table-first">
      <tr>
        <td>លរ</td>
        <td>ចំនុចកែប្រែ</td>
        <td>ចម្លើយចាស់</td>
        <td>ចម្លើយថ្មី</td>
      </tr>
      <tr>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
      </tr>
      <tr>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
      </tr>
      <tr>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
      </tr>
      <tr>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
      </tr>
      <tr>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
      </tr>
      <tr>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
      </tr>
      <tr>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
      </tr>
    </table>
    <div class="footer">
      <div class="matFooter">
        <div class="officer">
          <div class="cont">
            <div class="right">
              <div class="field">
                <p class="bold">ធ្វើបច្ចុប្បន្នភាព</p>
              </div>
              <div class="field" style="width: 300px">
                <p>ថ្ងៃទី</p>
                <p class="dot"></p>
                <p>ខែ</p>
                <p class="dot"></p>
                <p>ឆ្នាំ</p>
                <p class="dot"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="check">
          <div class="cont">
            <div class="right">
              <div class="field" style="width: 300px">
                <p>ថ្ងៃទី</p><input class="dot">
                <p>ខែ</p><input class="dot">
                <p>ឆ្នាំ</p><input class="dot">
              </div>
              <div class="field">
                <p class="bold">អធិការ</p>
              </div>
            </div>
          </div>
        </div>
        <div class="by">
          <div class="cont">
            <div class="right">
              <div class="field" style="width: 300px">
                <p>ថ្ងៃទី</p><input class="dot">
                <p>ខែ</p><input class="dot">
                <p>ឆ្នាំ</p><input class="dot">
              </div>
              <div class="field">
                <p class="bold">នាយប៉ុស្ដិ៏</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cr-control-bottom">
  <a class="enbutton cancel m-r16" mat-dialog-close="" [routerLink]="'/crime-form/cr-add-information'">ត្រឡប់មកវិញ</a>
  <button mat-button class="enbutton primary"
    [routerLink]="'/crime-form/cr-suspect-detetion-update'">បន្ទាប់</button>
</div>