<ng-container *ngIf="store?.images?.length > 0">
    <div class="file-preview-content" style="flex-wrap:wrap">
      <div class="box">
        <div class="preview" *ngFor="let item of store?.images;let i=index;">
          <button mat-icon-button color="warn" (click)="deleteFile(item)" style="position: absolute; top: 0; left: 0; background: #fafafa; border-radius: 100%;">
              <mat-icon aria-label="clear">clear</mat-icon>
          </button>
          <img [src]="item?.url" width="100%">
      </div>
      </div>
    </div>
  </ng-container>