<form [formGroup]="form" class="dialog-wrapper">
  <div class="dialog-header">
    <div class="title">
      បន្ថែមទិន្នន័យថ្មី
    </div>
    <div class="flex1"></div>
    <a mat-dialog-close class="close-dialog" (click)="dialogRef.close('no')">
      <i class="material-icons">&#xE14C;</i>
    </a>
  </div>

  <div class="dialog-content">
    <div class="form-wrapper">
      <div class="ui form">

        <div class="field">
          <label>លេខរៀង សាលក្រម/ដីការ
            <span class="rq-sign">*</span>
          </label>
          <input type="text" placeholder="បញ្ចូល លេខសាលក្រម/ដីការ" required formControlName="verdict_no">
          <div *ngIf="form.controls['verdict_no'].hasError('required') && form.controls['verdict_no'].touched"
            class="error-message">This field is required.</div>
        </div>

        <div class="field">
          <label>ចៅក្រម<span class="rq-sign">*</span></label>
          <input type="text" [matAutocomplete]="autoJudge" placeholder="ជ្រើសរើស ចៅក្រម" formControlName="judge">
          <mat-autocomplete #autoJudge="matAutocomplete" [displayWith]="displayFullName">
            <mat-option *ngFor="let data of filteredJudgeStates | async" [value]="data">
              <div class="flex-box">
                <span class="start-flex">{{data?.full_name}}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
          <div class="error-message" *ngIf="judge.hasError('validKey')">
            <div>You can only select category from list.</div>
          </div>
          <div *ngIf="!form.get('judge').valid && form.get('judge').touched && !judge.hasError('validKey')"
            class="error-message">
            This field is required.
          </div>
        </div>

        <div class="field">
          <label>កាលបរិច្ឆេទ ស៊ើបសួរ<span class="rq-sign">*</span></label>
          <div class="mixfeild">
            <input type="text" date="true" (click)="dobpicker1.open()" formControlName="judge_ask_date"
              [matDatepicker]="dobpicker1" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="dobpicker1"></mat-datepicker-toggle>
            <mat-datepicker #dobpicker1></mat-datepicker>
          </div>
        </div>


        <div class="field">
          <label>ក្រទ្បាបញ្ចី<span class="rq-sign">*</span></label>
          <input type="text" [matAutocomplete]="autoJudgeW" placeholder="ជ្រើសរើស ក្រទ្បាបញ្ចី"
            formControlName="judgment_writer">
          <mat-autocomplete #autoJudgeW="matAutocomplete" [displayWith]="displayFullName">
            <mat-option *ngFor="let data of filteredJudgeWriterStates | async" [value]="data">
              <div class="flex-box">
                <span class="start-flex">{{data?.full_name}}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
          <div class="error-message" *ngIf="judgment_writer.hasError('validKey')">
            <div>You can only select category from list.</div>
          </div>
          <div
            *ngIf="!form.get('judgment_writer').valid && form.get('judgment_writer').touched && !judgment_writer.hasError('validKey')"
            class="error-message">
            This field is required.
          </div>
        </div>
        <div class="field">
          <label>កាលបរិច្ឆេទ ធ្វើ<span class="rq-sign">*</span></label>
          <div class="mixfeild">
            <input type="text" date="true" (click)="dobpicker2.open()" formControlName="judgment_writer_date"
              [matDatepicker]="dobpicker2" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="dobpicker2"></mat-datepicker-toggle>
            <mat-datepicker #dobpicker2></mat-datepicker>
          </div>
        </div>
        <div class="field">
          <label>បញ្ចូលរូបភាព
          </label>
          <input type="file" placeholder="បញ្ចូលរូបភាព" accept='image/*' #file formControlName="file" multiple
            (change)="onSelectedFile(file.files)">
          <div *ngIf="form.controls['file'].hasError('required') && form.controls['file'].touched"
            class="error-message">This field is required.</div>
        </div>

      </div>
    </div>

  </div>
  <div class="dialog-footer">
    <div class="flex1"></div>
    <a mat-dialog-close class="enbutton cancel m-r16" (click)="dialogRef.close('no')">បោះបង់</a>
    <button type="submit" class="enbutton primary m-r16" [disabled]="!form.valid || process"
      (click)="create(form.value)">រក្សាទុក</button>
  </div>
  <app-spinner *ngIf="process"></app-spinner>
</form>