<form [formGroup]="form" class="dialog-wrapper" *mobxAutorun>
  <div class="training-dialog-wrapper">
    <div class="training-content">
      <div class="app-onboarding-sidebar l-45">
        <div class="app-onboarding-header">
          <a mat-icon-button mat-button (click)="_goBack()">
            <mat-icon aria-label="clear">arrow_back</mat-icon>
          </a>
          <div class="app-onboarding-title">ផ្ទេរឧក្រិដ្ឋកម្ម</div>
        </div>

        <div class="app-onboarding-wide-content fix-ml">
          <div class="dialog-content">
            <div class="form-wrapper">
              <div class="ui form">
                <h4>ទីតាំងឧក្រិដ្ឋកម្មផ្ទេរទៅ</h4>
                <div class="field">
                  <label>ខេត្ត <span class="rq-sign">*</span></label>
                  <input type="text" [matAutocomplete]="autoProvince" placeholder="ជ្រើសរើសខេត្ត"
                    formControlName="province">
                  <mat-autocomplete (optionSelected)="_onSelectedProvince($event)" #autoProvince="matAutocomplete"
                    [displayWith]="displayItem">
                    <mat-option *ngFor="let state of filteredStatesProvince | async" [value]="state">
                      {{state?.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <div class="error-message" *ngIf="province.hasError('validKey')">
                    <div>អ្នកអាចជ្រើសរើសបាននៅក្នុងទិន្នន័យនេះតែប៉ុណ្ណោះ</div>
                  </div>
                  <div *ngIf="form.controls['province'].hasError('required') && form.controls['province'].touched"
                    class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
                </div>
                <div class="field">
                  <label>ស្រុក<span class="rq-sign">*</span></label>
                  <input type="text" [matAutocomplete]="autoDistrict" placeholder="ជ្រើសរើសស្រុក"
                    formControlName="district">
                  <mat-autocomplete (optionSelected)="_onSelectedDistrict($event)" #autoDistrict="matAutocomplete"
                    [displayWith]="displayItem">
                    <mat-option *ngFor="let state of filteredStatesDistrict | async" [value]="state">
                      {{state?.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <div class="error-message" *ngIf="district.hasError('validKey')">
                    <div>អ្នកអាចជ្រើសរើសបាននៅក្នុងទិន្នន័យនេះតែប៉ុណ្ណោះ</div>
                  </div>
                  <div *ngIf="form.controls['district'].hasError('required') && form.controls['district'].touched"
                    class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
                </div>
                <div class="field">
                  <label>ឃុំ <span class="rq-sign">*</span></label>
                  <input type="text" [matAutocomplete]="autoCommune" placeholder="ជ្រើសរើសឃុំ"
                    formControlName="commune">
                  <mat-autocomplete (optionSelected)="_onSelectedCommune($event)" #autoCommune="matAutocomplete" [displayWith]="displayItem">
                    <mat-option *ngFor="let state of filteredStatesCommune | async" [value]="state">
                      {{state?.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <div class="error-message" *ngIf="commune.hasError('validKey')">
                    <div>អ្នកអាចជ្រើសរើសបាននៅក្នុងទិន្នន័យនេះតែប៉ុណ្ណោះ</div>
                  </div>
                  <div *ngIf="form.controls['commune'].hasError('required') && form.controls['commune'].touched"
                    class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
                </div>

                <h4>ទីតាំងឧក្រិដ្ឋកម្មផ្ទេរពី</h4>
                <div class="field">
                  <label>ខេត្ត <span class="rq-sign">*</span></label>
                  <input type="text" [matAutocomplete]="autoProvinceTo" placeholder="ជ្រើសរើសខេត្ត"
                    formControlName="province_to">
                  <mat-autocomplete (optionSelected)="_onSelectedProvinceTo($event)" #autoProvinceTo="matAutocomplete"
                    [displayWith]="displayItem">
                    <mat-option *ngFor="let state of filteredStatesProvinceTo | async" [value]="state">
                      {{state?.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <div class="error-message" *ngIf="province_to.hasError('validKey')">
                    <div>អ្នកអាចជ្រើសរើសបាននៅក្នុងទិន្នន័យនេះតែប៉ុណ្ណោះ</div>
                  </div>
                  <div *ngIf="form.controls['province_to'].hasError('required') && form.controls['province_to'].touched"
                    class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
                </div>
                <div class="field">
                  <label>ស្រុក<span class="rq-sign">*</span></label>
                  <input type="text" [matAutocomplete]="autoDistrictTo" placeholder="ជ្រើសរើសស្រុក"
                    formControlName="district_to">
                  <mat-autocomplete (optionSelected)="_onSelectedDistrictTo($event)" #autoDistrictTo="matAutocomplete"
                    [displayWith]="displayItem">
                    <mat-option *ngFor="let state of filteredStatesDistrictTo | async" [value]="state">
                      {{state?.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <div class="error-message" *ngIf="district_to.hasError('validKey')">
                    <div>អ្នកអាចជ្រើសរើសបាននៅក្នុងទិន្នន័យនេះតែប៉ុណ្ណោះ</div>
                  </div>
                  <div *ngIf="form.controls['district_to'].hasError('required') && form.controls['district_to'].touched"
                    class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
                </div>
                <div class="field">
                  <label>ឃុំ <span class="rq-sign">*</span></label>
                  <input type="text" [matAutocomplete]="autoCommuneTo" placeholder="ជ្រើសរើសឃុំ"
                    formControlName="commune_to">
                  <mat-autocomplete (optionSelected)="_onSelectedCrimeTo($event)" #autoCommuneTo="matAutocomplete"
                    [displayWith]="displayItem">
                    <mat-option *ngFor="let state of filteredStatesCommuneTo | async" [value]="state">
                      {{state?.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <div class="error-message" *ngIf="commune_to.hasError('validKey')">
                    <div>អ្នកអាចជ្រើសរើសបាននៅក្នុងទិន្នន័យនេះតែប៉ុណ្ណោះ</div>
                  </div>
                  <div *ngIf="form.controls['commune_to'].hasError('required') && form.controls['commune_to'].touched"
                    class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
                </div>

                <div class="field" *ngIf="store?.crimeByCommune.length >0">
                  <label>Limit
                    <span class="rq-sign">*</span>
                  </label>
                  <input type="number" min="1" max="50" placeholder="Enter a total crime" class="lg-input"
                    formControlName="crime_transfer">
                  <div
                    *ngIf="form.controls['crime_transfer'].hasError('required') && form.controls['crime_transfer'].touched"
                    class="error-message">
                    This field is required.
                  </div>
                  <div
                    *ngIf="form.controls['crime_transfer'].hasError('max') && form.controls['crime_transfer'].touched"
                    class="error-message">
                    Max 100 students
                  </div>
                  <div
                    *ngIf="form.controls['crime_transfer'].hasError('min') && form.controls['crime_transfer'].touched"
                    class="error-message">
                    Min 1 students
                  </div>
                </div>
                <h4 class="mat-title-h" *ngIf="store?.crimeByCommune.length >0">បញ្ជីបទល្មើស</h4>
                <mat-selection-list #crimes>
                  <mat-list-option [value]="item" [selected]="_validStudentInClass(i)" checkboxPosition="before"
                    *ngFor="let item of store?.crimeByCommune;let i=index">
                    លេខករណី: {{item?.crime_no}} -- ឃុំ {{item?.commune?.name}} ភូមិ {{item?.village?.name}}
                    <span>{{item?.category?.name}} \ {{item?.sub_category?.name}}</span>
                  </mat-list-option>
                </mat-selection-list>

              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- <div class="app-onboarding-content-container">
        <h4>ទីតាំងកើតហេតុ</h4>
        <div class="small-form">
          <div class="map-card">
            <agm-map [latitude]="currentLat" [usePanning]='true' [zoom]="zoom" (mapReady)="mapReady($event)"
              (mapClick)="onMaker($event)" [longitude]="currentLong">
              <agm-marker [latitude]="currentLat" [longitude]="currentLong"></agm-marker>
            </agm-map>
          </div>
          <div class="form-wrapper">
            <div class="ui form">
              <div class="field">
                <label>Latitude
                  <span class="rq-sign">*</span>
                </label>
                <input type="text" autocomplete="off" class="lg-input" placeholder="Enter a valid code" required
                  formControlName="latitude">
                <div *ngIf="form.controls['latitude'].hasError('required') && form.controls['latitude'].touched"
                  class="error-message">
                  This field is required.
                </div>
              </div>
              <div class="field">
                <label>Longitude
                  <span class="rq-sign">*</span>
                </label>
                <input type="text" autocomplete="off" class="lg-input" placeholder="Enter a valid code" required
                  formControlName="longitude">
                <div *ngIf="form.controls['longitude'].hasError('required') && form.controls['longitude'].touched"
                  class="error-message">
                  This field is required.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="dialog-footer f-btn-page">
    <a mat-button class="enbutton cancel m-r16" (click)="_goBack()">Cancel</a>
    <button mat-button color="primary" class="enbutton cancel m-r16"
      [disabled]="!form.valid || crimes.selectedOptions.selected.length===0"
      (click)="create(form.value, crimes)">Transfer</button>
  </div>
  <app-spinner *ngIf="store?.process"></app-spinner>
</form>