<div class="filter-penal">
  <h4>របាយការណ៍សង្ខេបតាមបទល្មើស</h4>
  <div class="filter-box">
    <button mat-button (click)="defaultPeriod()" class="filter-panel-item">
      បទល្មើសទាំងអស់
    </button>
  </div>
  <h4>ជ្រើសរើសបទល្មើស</h4>
  <label class="label-date">បទល្មើស</label>
    <div class="from-date-to-date  w-full">
        <div class="date-bl">
            <mat-select [formControl]="category" [compareWith]="compareWith">
                <mat-option *ngFor="let item of categories" [value]="item">
                    {{item?.Name}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <label class="label-date">ប្រភេទបទល្មើស</label>
    <div class="from-date-to-date  w-full">
        <div class="date-bl">
            <mat-select [formControl]="subCategory" [compareWith]="compareWith">
                <mat-option *ngFor="let item of subCategories" [value]="item">
                    {{item?.Name}}
                </mat-option>
            </mat-select>
        </div>
    </div>
  <div class="price-footer">
    <button mat-button (click)="_onApply()" class="btn-apply">បង្ហាញទិន្នន័យ</button>
  </div>
</div>