<form [formGroup]="form" class="dialog-wrapper">
  <div class="dialog-header">
    <div class="title">
      ទិន្នន័យបិទករណី
    </div>
    <div class="flex1"></div>
    <a mat-dialog-close class="close-dialog" (click)="dialogRef.close('no')">
      <i class="material-icons">&#xE14C;</i>
    </a>
  </div>

  <div class="dialog-content">
    <div class="form-wrapper">
      <div class="ui form">
        <div class="field">
          <label>កាលបរិច្ឆេទ បិទករណី<span class="rq-sign">*</span></label>
          <div class="mixfeild">
            <input type="text" date="true" (click)="dobpicker2.open()" formControlName="close_date"
              [matDatepicker]="dobpicker2" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="dobpicker2"></mat-datepicker-toggle>
            <mat-datepicker #dobpicker2></mat-datepicker>
          </div>
        </div>
        <div class="field">
          <label>សេចក្តីសន្និដ្ឋាន</label>
          <textarea formControlName="conclusion" cols="30" rows="5"></textarea>
          <div *ngIf="form.controls['conclusion'].hasError('required') && form.controls['conclusion'].touched"
            class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
        </div>
        <div class="field">
          <label>កំណត់ចំណាំ</label>
          <textarea formControlName="note" cols="30" rows="5"></textarea>
        </div>
        <div class="field">
          <label>បញ្ចូលឯកសារ
          </label>
          <input type="file" placeholder="បញ្ចូលឯកសារ" accept='image/*' #file formControlName="file" multiple
            (change)="onSelectedFile(file.files)">
        </div>

      </div>
    </div>

  </div>
  <div class="dialog-footer">
    <div class="flex1"></div>
    <a mat-dialog-close class="enbutton cancel m-r16" (click)="dialogRef.close('no')">បោះបង់</a>
    <button type="submit" class="enbutton primary m-r16" [disabled]="!form.valid || process"
      (click)="create(form.value)">រក្សាទុក</button>
  </div>
  <app-spinner *ngIf="process"></app-spinner>
</form>