<div class="mainForm">
  <div class="head">
    <div class="matHead">
      <h2></h2>
      <div class="img">
        <img src="/assets/images/logo.png" alt="">
        <h3>បច្ចុប្បន្នភាពឃាត់ខ្លួនជនសង្ស័យ</h3>
      </div>
      <div class="postNumber">
        <div class="matPostNumber field">
          <p>លេខករណី(ប៉ុស្ដិ៏): </p>
          <input class="dot two">
          <p>/</p>
          <input class="dot two">
          <p>/</p>
          <input class="dot two">
        </div>
        <div class="postcode">
          <p>កូដតំបន់</p>
          <p style="padding: 0px 12px;">/</p>
          <p>កូដតំបន់</p>
          <p style="padding: 0 12px;">/</p>
          <p>លេខករណី</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <table style="width:100%" class="table-first tableId">
      <tr>
        <td>លរ</td>
        <td>គោត្ដនាម & នាម</td>
        <td>ជនសង្ស័យ</td>
        <td>និតិវិធីឃាត់ខ្លួន</td>
        <td>ថ្ងៃខែ ឆ្នាំឃាត់ខ្លួន</td>
        <td>សំគាល់</td>
      </tr>
      <tr>
        <td>១</td>
        <td><input></td>
        <td><input></td>
        <td>
          <div class="kloun">
            <mat-checkbox>ជាក់ស្ដែង</mat-checkbox>
            <mat-checkbox>ស្រាវជាវ</mat-checkbox>
            <mat-checkbox>ដីកា</mat-checkbox>
          </div>
        </td>
        <td><input></td>
        <td><input></td>
      </tr>
      <tr>
        <td>២</td>
        <td><input></td>
        <td><input></td>
        <td>
          <div class="kloun">
            <mat-checkbox>ជាក់ស្ដែង</mat-checkbox>
            <mat-checkbox>ស្រាវជាវ</mat-checkbox>
            <mat-checkbox>ដីកា</mat-checkbox>
          </div>
        </td>
        <td><input></td>
        <td><input></td>
      </tr>
      <tr>
        <td>៣</td>
        <td><input></td>
        <td><input></td>
        <td>
          <div class="kloun">
            <mat-checkbox>ជាក់ស្ដែង</mat-checkbox>
            <mat-checkbox>ស្រាវជាវ</mat-checkbox>
            <mat-checkbox>ដីកា</mat-checkbox>
          </div>
        </td>
        <td><input></td>
        <td><input></td>
      </tr>
      <tr>
        <td>៤</td>
        <td><input></td>
        <td><input></td>
        <td>
          <div class="kloun">
            <mat-checkbox>ជាក់ស្ដែង</mat-checkbox>
            <mat-checkbox>ស្រាវជាវ</mat-checkbox>
            <mat-checkbox>ដីកា</mat-checkbox>
          </div>
        </td>
        <td><input></td>
        <td><input></td>
      </tr>
      <tr>
        <td>៥</td>
        <td><input></td>
        <td><input></td>
        <td>
          <div class="kloun">
            <mat-checkbox>ជាក់ស្ដែង</mat-checkbox>
            <mat-checkbox>ស្រាវជាវ</mat-checkbox>
            <mat-checkbox>ដីកា</mat-checkbox>
          </div>
        </td>
        <td><input></td>
        <td><input></td>
      </tr>
      <tr>
        <td>៦</td>
        <td><input></td>
        <td><input></td>
        <td>
          <div class="kloun">
            <mat-checkbox>ជាក់ស្ដែង</mat-checkbox>
            <mat-checkbox>ស្រាវជាវ</mat-checkbox>
            <mat-checkbox>ដីកា</mat-checkbox>
          </div>
        </td>
        <td><input></td>
        <td><input></td>
      </tr>
      <tr>
        <td>៧</td>
        <td><input></td>
        <td><input></td>
        <td>
          <div class="kloun">
            <mat-checkbox>ជាក់ស្ដែង</mat-checkbox>
            <mat-checkbox>ស្រាវជាវ</mat-checkbox>
            <mat-checkbox>ដីកា</mat-checkbox>
          </div>
        </td>
        <td><input></td>
        <td><input></td>
      </tr>
      <tr>
        <td>៨</td>
        <td><input></td>
        <td><input></td>
        <td>
          <div class="kloun">
            <mat-checkbox>ជាក់ស្ដែង</mat-checkbox>
            <mat-checkbox>ស្រាវជាវ</mat-checkbox>
            <mat-checkbox>ដីកា</mat-checkbox>
          </div>
        </td>
        <td><input></td>
        <td><input></td>
      </tr>

    </table>
    <div class="footer">
      <h2>*បោះពុម្ភចេញពីប្រព័ន្ធ</h2>
      <div class="matFooter">
        <div class="officer">
          <h3>មន្រ្ដីទទួលបន្ទុក:</h3>
          <div class="cont">
            <div class="right">
              <div class="field" style="width: 300px">
                <p>ឈ្មោះ</p><input class="dot">
              </div>
              <div class="field">
                <p>តួនាទី</p><input class="dot">
              </div>
              <div class="field">
                <p class="bold">ធ្វើបច្ចុប្បន្នភាព</p>
              </div>
              <div class="field" style="width: 300px">
                <p>ថ្ងៃទី</p><input class="dot">
                <p>ខែ</p><input class="dot">
                <p>ឆ្នាំ</p><input class="dot">
              </div>
            </div>
          </div>
        </div>
        <div class="check">
          <h3>បានពិនិត្យ ត្រឹមត្រូវ</h3>
          <div class="cont">
            <div class="right">
              <div class="field" style="width: 300px">
                <p>ថ្ងៃទី</p><input class="dot">
                <p>ខែ</p><input class="dot">
                <p>ឆ្នាំ</p><input class="dot">
              </div>
              <div class="field">
                <p class="bold">អធិការ</p>
              </div>
            </div>
          </div>
        </div>
        <div class="by">
          <h3>មន្រ្ដីទទួលបន្ទុក:</h3>
          <div class="cont">
            <div class="right">
              <div class="field" style="width: 300px">
                <p>ថ្ងៃទី</p><input class="dot">
                <p>ខែ</p><input class="dot">
                <p>ឆ្នាំ</p><input class="dot">
              </div>
              <div class="field">
                <p class="bold">នាយប៉ុស្ដិ៏</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cr-control-bottom">
  <a class="enbutton cancel m-r16" mat-dialog-close="" [routerLink]="'/crime-form/cr-crime-update'">ត្រឡប់មកវិញ</a>
  <button mat-button class="enbutton primary">រក្សាទុក</button>
</div>