<h4 class="form-title">ព័ត៌មានស្ដីពី​សម្ភារ</h4>
<div id="print">
  <div class="mainForm">
    <div class="head">
      <div class="matHead">
        <div class="rows">
          <div class="flex1">
          </div>
        </div>
        <div class="postNumber">
          <div class="matPostNumber field">
            <label>លេខករណី(ប៉ុស្ដិ៏): </label>
            <input class="dot two">
            <p>/</p>
            <input class="dot two">
            <p>/</p>
            <input class="dot two">
          </div>
          <div class="postcode">
            <label>កូដតំបន់</label>
            <label style="padding: 0px 12px;">/</label>
            <label>កូដតំបន់</label>
            <label style="padding: 0 12px;">/</label>
            <label>លេខករណី</label>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="d-flex" style="justify-content: space-between">
        <h2 style="line-height: normal"><span class="form-title">A. ព័ត៌មានស្ដីពី​សម្ភារ</span></h2>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>បញ្ចូលយានជំនិ</span>
            </button>
            <button mat-menu-item>
              <mat-icon>voicemail</mat-icon>
              <span>បញ្ចូលគ្រឿងអលង្កា</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>បញ្ចូលរូបិយប័ណ្ណ</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>បញ្ចូលសម្ភារះបាត់បង់ផ្សេងទៀត</span>
              </button>
          </mat-menu>
        </div>
      </div>
      <table style="width:100%" class="tableTd table-first tableCenter">
        <tr>
          <th class="bgColor" colspan="10">
            <div class="rows">
              <div class="flex1">
                <label><span class="no">1. </span>យានជំនិ</label>
              </div>
              <button mat-button class="primary-white" (click)="create()">បញ្ចូលយានជំនិ</button>
            </div>
          </th>
        </tr>
        <tr>
          <td>លរ</td>
          <td>ប្រភេទ</td>
          <td>ម៉ាក</td>
          <td>ស៊េរី</td>
          <td>ឆ្នាំផលិត</td>
          <td>ព័ណ</td>
          <td>លេខតួ</td>
          <td>លេខម៉ស៊ីន</td>
          <td>ផ្លាកលេខ</td>
          <td>រកឃើញ</td>
        </tr>
        <tr>
          <td>១</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <mat-checkbox class="m-0"></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <mat-checkbox class="m-0"></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <mat-checkbox class="m-0"></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <mat-checkbox class="m-0"></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <mat-checkbox class="m-0"></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>6</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <mat-checkbox class="m-0"></mat-checkbox>
          </td>
        </tr>
      </table>
      <table style="width:100%;" class="tableTd table-first tableCenter no-bt no-bb">
        <tr>
          <th class="bgColor no-bt no-bb" colspan="10">
            <div class="rows">
              <div class="flex1">
                <label><span class="no">2. </span>គ្រឿងអលង្កា</label>
              </div>
              <button mat-button class="primary-white">បញ្ចូលគ្រឿងអលង្កា</button>
            </div>
          </th>
        </tr>
        <tr>
          <td style="width: 50%" class="p-0">
            <table style="width: 100%" class="no-bd">
              <tr>
                <td>លរ</td>
                <td>ប្រភេទ</td>
                <td>ចំនួន</td>
                <td>ចំនួនរកឃើញ</td>
                <td>កំណត់សំកាល់</td>
              </tr>
              <tr>
                <td>១</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>២</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>៣</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </td>
          <td style="width: 50%" class="p-0">
            <table style="width: 100%" class="no-bd">
              <tr>
                <td>លរ</td>
                <td>ប្រភេទ</td>
                <td>ចំនួន</td>
                <td>ចំនួនរកឃើញ</td>
                <td>កំណត់សំកាល់</td>
              </tr>
              <tr>
                <td>៤</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>៥</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>៦</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table style="width:100%;" class="tableTd table-first tableCenter no-bt no-bb">
        <tr>
          <th class="bgColor no-bt no-bb" colspan="10">
            <div class="rows">
              <div class="flex1">
                <label><span class="no">3. </span>រូបិយប័ណ្ណ</label>
              </div>
              <button mat-button class="primary-white">បញ្ចូលរូបិយប័ណ្ណ</button>
            </div>
          </th>
        </tr>
        <tr>
          <td style="width: 50%" class="p-0">
            <table style="width: 100%" class="no-bd">
              <tr>
                <td>លរ</td>
                <td>ប្រភេទ</td>
                <td>ចំនួន</td>
                <td>ចំនួនរកឃើញ</td>
                <td>កំណត់សំកាល់</td>
              </tr>
              <tr>
                <td>១</td>
                <td>អឺរ៉ូ</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>២</td>
                <td>ដុល្លា</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>៣</td>
                <td>រៀល</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>

          </td>
          <td style="width: 50%" class="p-0">
            <table style="width: 100%" class="no-bd">
              <tr>
                <td>លរ</td>
                <td>ប្រភេទ</td>
                <td>ចំនួន</td>
                <td>ចំនួនរកឃើញ</td>
                <td>កំណត់សំកាល់</td>
              </tr>
              <tr>
                <td>៤</td>
                <td>បាត</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>៥</td>
                <td>ដុង</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>៦</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table style="width:100%" class="tableTd table-first tableTdHeight no-bt no-bb">
        <tr>
          <th class="bgColor no-bt no-bb" colspan="10">
            <div class="rows">
              <div class="flex1">
                <label><span class="no">4. </span>សម្ភារះបាត់បង់ផ្សេងទៀត</label>
              </div>
              <button mat-button class="primary-white">បញ្ចូលសម្ភារះបាត់បង់ផ្សេងទៀត</button>
            </div>
          </th>
        </tr>
        <tr>
          <th>
            <div class="field">
              <input class="dot">
            </div>
            <div class="field">
              <input class="dot">
            </div>
            <div class="field">
              <input class="dot">
            </div>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>