<aside class="sidebar">
    <div class="sidebar-brand" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">
        <div class="brand-logo">
            <!-- <img [src]="logo" alt="PHSAR TECH"> -->
        </div>
        <div class="sbar-brand-name">
            COMBOR
        </div>

    </div>
    <div class="sidebar-header">
        <div class="header-content">
            <div class="list-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                [routerLink]="['/app/overview']">
                <div class="icon">
                    <i class="material-icons">&#xE88A;</i>
                </div>
                <div class="item-name">
                    COMBODIA Overview
                </div>
            </div>
            <div class="sitting" [matMenuTriggerFor]="menusitting">
                <i class="material-icons">&#xE8B8;</i>
            </div>
            <mat-menu #menusitting="matMenu" class="cs-position flr">
                <div class="menu-content">
                    <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Redial</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check voicemail</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                    </button>
                </div>
            </mat-menu>
        </div>
    </div>
    <div class="sidebar-list-wrapper">
        <mat-accordion [multi]="true">
<!--             
            <mat-expansion-panel [expanded]="expansions.scholarship" (closed)="onClosed(6)" (opened)="onOpened(6)">
                <mat-expansion-panel-header expandedHeight="58px" collapsedHeight="78px"
                    [class.active]="expansions?.scholarship">
                    <mat-panel-title>
                        Information
                    </mat-panel-title>
                    
                    <mat-panel-description *ngIf="!expansions?.scholarship">About Us, Contact
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="list-content">
                    <div class="list-item">
                        <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/about']">
                            <div class="icon">
                                <i class="material-icons">slideshow</i>
                            </div>
                            <div class="item-name">
                                About Us
                            </div>
                        </div>
                    </div>
                     <div class="list-item"> 
                        <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/contact']">
                            <div class="icon">
                                <i class="material-icons">perm_contact_calendar</i>
                            </div>
                            <div class="item-name">
                                Contact Us
                            </div>
                        </div>
                    </div>
                        
                </div>
            </mat-expansion-panel> -->

            <mat-expansion-panel [expanded]="expansions.hr" (closed)="onClosed(7)" (opened)="onOpened(7)">
                    <mat-expansion-panel-header expandedHeight="58px" collapsedHeight="78px"
                        [class.active]="expansions?.hr">
                        <mat-panel-title>
                            <!-- គ្រប់គ្រងអត្ថបទ -->
                            Contents
                        </mat-panel-title>
                        <mat-panel-description *ngIf="!expansions?.hr">content,
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="list-content">
                        <div class="list-item">
                            <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/content']">
                                <div class="icon">
                                    <i class="material-icons">card_giftcard</i>
                                </div>
                                <div class="item-name">
                                    Contents
                                </div>
                            </div>
                        </div>
                        
                         <div class="list-item"> 
                          <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/tvnews']">
                                <div class="icon">
                                    <i class="material-icons"> subscriptions</i>
                                </div>
                                <div class="item-name">
                                    TV-News
                                </div>
                            </div> 
                        </div>
                    </div>
                </mat-expansion-panel> 
            <mat-expansion-panel [expanded]="expansions.apo" (closed)="onClosed(3)" (opened)="onOpened(3)">
                <mat-expansion-panel-header expandedHeight="58px" collapsedHeight="78px"
                    [class.active]="expansions?.apo">
                    <mat-panel-title>
                        <!-- ឈ្មោះនៃប្រភេទព័ត៌មាន -->
                        Category of news
                    </mat-panel-title>
                    <mat-panel-description *ngIf="!expansions?.apo"> Category, Types of News
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="list-content">

                    <div class="list-item">
                        <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/category']">
                            <div class="icon">
                                <i class="material-icons">category</i>
                            </div>
                            <div class="item-name">
                                Category News
                            </div>
                        </div>
                    </div>
                    
                    <div class="list-item">
                        <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/phonenumber']">
                            <div class="icon">
                                <i class="material-icons">book</i>
                            </div>
                            <div class="item-name">
                                Edit Phonenumber
                            </div>
                        </div>
                    </div>
                    <!-- <div class="list-item">
                        <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/types']">
                            <div class="icon">
                                <i class="material-icons">info</i>
                            </div>
                            <div class="item-name">
                                Type of News
                            </div>
                        </div>
                    </div> -->

                </div>
            </mat-expansion-panel>
            
            <mat-expansion-panel [expanded]="expansions.apo" (closed)="onClosed(3)" (opened)="onOpened(3)">
                <mat-expansion-panel-header expandedHeight="58px" collapsedHeight="78px"
                    [class.active]="expansions?.apo">
                    <mat-panel-title>
                        <!-- ឈ្មោះនៃប្រភេទព័ត៌មាន -->
                        DrawerBar
                    </mat-panel-title>
                    <mat-panel-description *ngIf="!expansions?.apo">Advertisement
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="list-content">
                  
                    <div class="list-item">
                        <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/advertisement']">
                            <div class="icon">
                                <i class="material-icons">announcement</i>
                            </div>
                            <div class="item-name">
                                Advertisement
                            </div>
                        </div>
                    </div>
                  
                    <div class="list-item">
                        <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/entertainment']">
                            <div class="icon">
                                <i class="material-icons">subscriptions</i>
                            </div>
                            <div class="item-name">
                                
                            ព័ត៌មានកំសាន្ត
                            </div>
                        </div>
                    </div>
                    
                 <div class="list-item">
                        <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/emergencycars']">
                            <div class="icon">
                                <i class="material-icons">book</i>
                            </div>
                            <div class="item-name">
                                រថយន្តសង្គ្រោះបន្ទាន់
                            </div>
                        </div>
                    </div> 
                    <div class="list-item">
                        <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/firetruck']">
                            <div class="icon">
                                <i class="material-icons">info</i>
                            </div>
                            <div class="item-name">
                                រថយន្តពន្លត់អគ្គីភ័យ
                            </div>
                        </div>
                    </div>

                </div>
            </mat-expansion-panel>

           
            
        </mat-accordion>
    </div>
    <div class="sidebar-footer">
        <div class="sidebar-toggle-button" (click)="togglesidebar()">
            <div class="arrow-icon"></div>
        </div>
    </div>
</aside>