<form [formGroup]="form" class="dialog-wrapper">
  <div class="dialog-header">
    <div class="title">
      Add new content
    </div>
    <div class="flex1"></div>
    <a mat-dialog-close class="close-dialog" (click)="dialogRef.close('no')">
      <i class="material-icons">&#xE14C;</i>
    </a>
  </div>

  <div class="dialog-content">
    <div class="form-wrapper">
      <div class="ui form">
        <div class="field">
          <label>Title
            <span class="rq-sign">*</span>
          </label>
          <input type="text" #focusInput placeholder="Enter content title" required formControlName="name">
          <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched"
            class="error-message">This field is required.</div>
          <div *ngIf="form.controls['name'].hasError('nameAvailable')" class="error-message">This name is taken. Try
            another.</div>
        </div>

        <div class="field">
          <label>Description
            <!-- <span class="rq-sign">*</span> -->
          </label>

          <button style="background-color: #F5F6F7" mat-button [disabled]="disableBtn" (click)="showFileManager()">Add file from gallery</button>
        
          <quill-editor  #editor [modules]="modules" (onContentChanged)="onContentChanged($event)"
            (onEditorCreated)="getEditorInstance($event)" formControlName="editname"></quill-editor>
        </div>
    
          <div class="field">
            <label>Reference
              <!-- <span class="rq-sign">*</span> -->
            </label>
          
            <input type="text" #focusInput placeholder="Enter content title"  formControlName="reference">

         
           
          </div>
     
        <div class="fields two">

        <div class="field">
          <label>Select mages Advertisement
          </label>
          <button style="background-color: #F5F6F7" mat-button [disabled]="disableBtn" (click)="showimage()">Add file from gallery</button>
          {{fileurl}}
        </div>

        <div class="field">
          <label> Status Advertisement 
            <!-- <span class="rq-sign">*</span> -->
          </label>
          <mat-selection-list class="mat-book" #tags formControlName="advertiseType">
            <mat-list-option *ngFor="let item of paymentData" [value]="item">
              {{item?.text}}
            </mat-list-option>
          </mat-selection-list>
        </div>

        </div>
       
      </div>
    </div>

  </div>
  <div class="dialog-footer">
    <div class="flex1"></div>
    <a mat-dialog-close class="enbutton cancel m-r16" (click)="dialogRef.close('no')">Cancel</a>
    <button type="submit" class="enbutton primary m-r16" [disabled]="!form.valid || store?.process"
      (click)="create(form.value,true)">Save New</button>
    <button class="enbutton primary m-r16" [disabled]="!form.valid || store?.process"
      (click)="create(form.value,false)">Save Close</button>
  </div>
  <app-spinner *ngIf="store?.process"></app-spinner>
</form>