<div class="mainForm">
  <div class="head">
    <div class="matHead">
      <h2>F សកម្មភាព និងព័តមានបន្ថែម:</h2>

      <div class="postNumber">
        <div class="matPostNumber field">
          <p>លេខករណី(ប៉ុស្ដិ៏): </p>
          <input class="dot two">
          <p>/</p>
          <input class="dot two">
          <p>/</p>
          <input class="dot two">
        </div>
        <div class="postcode">
          <p>កូដតំបន់</p>
          <p style="padding: 0px 12px;">/</p>
          <p>កូដតំបន់</p>
          <p style="padding: 0 12px;">/</p>
          <p>លេខករណី</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <table style="width:100%" class="tableTd">
      <tr>
        <th class="bgColor" colspan="1">1 សង្ខេបសកម្មភាព</th>
      </tr>
      <tr>
        <td>
          <div class="field">
            <p class="bold">ធ្វើបច្ចុប្បន្នភាព</p>
            <input class="dot">
          </div>
          <div class="field">
            <input class="dot">
          </div>
          <div class="field">
            <input class="dot">
          </div>
          <div class="field">
            <input class="dot">
          </div>
          <div class="field">
            <input class="dot">
          </div>
        </td>
      </tr>
      <tr>
        <th class="bgColor" colspan="1">2 មន្រ្ដីសើបអង្កេត</th>
      </tr>
      <tr>
        <td>
          <div class="field">
            <p class="bold">ឈ្មោះ</p><input class="dot">
            <p class="bold">តួនាទី</p><input class="dot">
            <p class="bold">ទូរស័ព្ទទំនាក់ទំនង</p><input class="dot">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <p class="bold">ឈ្មោះ</p><input class="dot">
            <p class="bold">តួនាទី</p><input class="dot">
            <p class="bold">ទូរស័ព្ទទំនាក់ទំនង</p><input class="dot">
          </div>
        </td>
      </tr>

    </table>
    <div class="footer">
      <div class="matFooter">
        <div class="officer"></div>
        <div class="check">
          <div class="cont">
            <div class="right">
              <div class="field" style="width: 300px">
                <p>ថ្ងៃទី</p><input class="dot">
                <p>ខែ</p><input class="dot">
                <p>ឆ្នាំ</p><input class="dot">
              </div>
              <div class="field">
                <p class="bold">អធិការ</p>
              </div>
            </div>
          </div>
        </div>
        <div class="by">
          <div class="cont">
            <div class="right">
              <div class="field" style="width: 300px">
                <p>ថ្ងៃទី</p><input class="dot">
                <p>ខែ</p><input class="dot">
                <p>ឆ្នាំ</p><input class="dot">
              </div>
              <div class="field">
                <p class="bold">នាយប៉ុស្ដិ៏</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cr-control-bottom">
  <a class="enbutton cancel m-r16" mat-dialog-close="" [routerLink]="'/crime-form/cr-suspect'">ត្រឡប់មកវិញ</a>
  <button mat-button class="enbutton primary"
    [routerLink]="'/crime-form/cr-crime-update'">បន្ទាប់</button>
</div>