<h4 class="form-title">ព័ត៍មានស្ដីពីហេតុការណ៏</h4>
<form [formGroup]="form">
  <div id="print">
    <div class="mainForm">
      <div class="head">
        <div class="matHead">
          <table style="width: 368px;">
            <tr>
              <td>ស្នងការដ្ឋាននគរបាល</td>
              <td><input type="text" formControlName="police_commissariat"></td>
            </tr>
            <tr>
              <td>អធិការដ្ឋាននគរបាល</td>
              <td><input type="text" formControlName="police_inspectorate"></td>
            </tr>
            <tr>
              <td>ប៉ុស្ដិនគរបាល</td>
              <td><input type="text" formControlName="police_station"></td>
            </tr>
          </table>
          <div class="img">
            <img src="/assets/images/logo.png" alt="">
            <h3>កំណត់ត្រាបទល្មើសព្រហ្មទណ្ឌ</h3>
          </div>
          <div class="postNumber">
            <div class="matPostNumber field">
              <label>លេខករណី(ប៉ុស្ដិ៏): </label>
              <input class="dot two" formControlName="crime_commune_no">
              <p>/</p>
              <input class="dot two" formControlName="crime_year_no">
              <p>/</p>
              <input class="dot two" formControlName="crime_index">
            </div>
            <div class="postcode">
              <p>កូដតំបន់</p>
              <p style="padding: 0px 12px;">/</p>
              <p>កូដតំបន់</p>
              <p style="padding: 0 12px;">/</p>
              <p>លេខករណី</p>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <h2 style="line-height: normal; margin-top: 24px;"><span class="form-title">A. ព័ត៍មានស្ដីពីហេតុការណ៏</span>
        </h2>
        <div style="display:flex;width: 100%;">
          <div style="width: 50%;" class="mat-res">
            <table style="width:100%" class="tableTd">
              <tr>
                <th class="bgColor no-bd" colspan="10" style="display: flex;justify-content: space-between;">
                  <label><span class="no">1. </span>ស្ថានភាពទម្ងន់បទល្មើស</label></th>
              </tr>
              <tr>
                <td class="p-0 no-bt">
                  <table style="width:100%" class="tableTd no-bd">
                    <tr>
                      <td style="width:50%" class="no-bl">
                        <strong>
                          <mat-checkbox [formControl]="offence1" (change)="onSelectedOffence($event,1)">ឧ្រកិដ្ឋ
                          </mat-checkbox>
                        </strong>
                      </td>
                      <td style="width:50%" class="no-br">
                        <strong>
                          <mat-checkbox [formControl]="offence2" (change)="onSelectedOffence($event,2)">មជ្ឈឹម
                          </mat-checkbox>
                        </strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="no-bl no-bb">
                        <div class="field" style="display: flex;flex-direction: column;align-items: flex-start;">
                          <mat-selection-list class="mat-option-case" #matCase1 formControlName="case1">
                            <mat-list-option [value]="item" checkboxPosition="before"
                              *ngFor="let item of store?.case1;let i=index">
                              {{item?.Name}}
                            </mat-list-option>
                          </mat-selection-list>
                        </div>
                      </td>
                      <td class="no-bb">
                        <div class="field" style="display: flex;flex-direction: column;align-items: flex-start;">
                          <mat-selection-list class="mat-option-case" #matCase2 formControlName="case2">
                            <mat-list-option [value]="item" checkboxPosition="before"
                              *ngFor="let item of store?.case2;let i=index">
                              {{item?.Name}}
                            </mat-list-option>
                          </mat-selection-list>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <th class="bgColor" colspan="10"><label><span class="no">2. </span>កាលបរិច្ឆេទនិងទីកន្លែងកើតហេតុ</label>
                </th>
              </tr>
              <tr>
                <td>
                  <div class="field" style="width: 90%;">
                    <label>ថ្ងៃខែឆ្នាំ កើតហេតុ:</label>
                    <mat-select class="c-select" formControlName="happen_day" [compareWith]="compareObjects">
                      <mat-option *ngFor="let item of happenDays;" [value]="item">
                        {{ item?.name }}
                      </mat-option>
                    </mat-select>
                    <label>/</label>
                    <mat-select class="c-select" formControlName="happen_month" [compareWith]="compareObjects">
                      <mat-option *ngFor="let item of happenMonths;" [value]="item">
                        {{ item?.name }}
                      </mat-option>
                    </mat-select>
                    <label>/</label>
                    <mat-select class="c-select" formControlName="happen_year" [compareWith]="compareObjects">
                      <mat-option *ngFor="let item of happenYears;" [value]="item">
                        {{ item?.name }}
                      </mat-option>
                    </mat-select>
                    <label>ម៉ោង:</label>
                    <ngb-timepicker class="ngb-time-picker" formControlName="happen_hour"></ngb-timepicker>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="field">
                    <label>ថ្ងៃខែឆ្នាំ ទទួលព័តមាន:</label>
                    <mat-select class="c-select" formControlName="receive_day" [compareWith]="compareObjects">
                      <mat-option *ngFor="let item of receiveDays;" [value]="item">
                        {{ item?.name }}
                      </mat-option>
                    </mat-select>
                    <label>/</label>
                    <mat-select class="c-select" formControlName="receive_month" [compareWith]="compareObjects">
                      <mat-option *ngFor="let item of receiveMonths;" [value]="item">
                        {{ item?.name }}
                      </mat-option>
                    </mat-select>
                    <label>/</label>
                    <mat-select class="c-select" formControlName="receive_year" [compareWith]="compareObjects">
                      <mat-option *ngFor="let item of receiveYears;" [value]="item">
                        {{ item?.name }}
                      </mat-option>
                    </mat-select>
                    <label>ម៉ោង:</label>
                    <ngb-timepicker class="ngb-time-picker" formControlName="receive_hour"></ngb-timepicker>
                  </div>
                  <div class="field">
                    <label class="color-red">ពីប្រភព:</label>
                    <mat-form-field>
                      <input matInput [formControl]="receive_from">
                    </mat-form-field>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="field">
                    <label>ភូមិ:</label>
                    <mat-select class="c-select md-select-items" formControlName="village"
                      [compareWith]="compareObjects">
                      <mat-option *ngFor="let item of villageList;" [value]="item">
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                    <label>ផ្លូវ:</label>
                    <input class="dot" formControlName="home_no">
                    <label>ផ្ទះលេខ:</label>
                    <input class="dot" formControlName="street_no">
                  </div>
                </td>
              </tr>
              <tr>
                <td class="">
                  <div class="field">
                    <label><strong><span class="no">3. </span>ភូមិសាស្រ្ដ</strong></label>
                    <mat-selection-list class="rows" #crimeLocation formControlName="location">
                      <mat-list-option [value]="item" checkboxPosition="before"
                        *ngFor="let item of store?.place;let i=index">
                        {{item?.Name}}
                      </mat-list-option>
                    </mat-selection-list>
                  </div>
                </td>
              </tr>

              <tr>
                <th class="bgColor" colspan="10"><label><span class="no">4. </span>ទីតាំងកើតហេតុ</label></th>
              </tr>
              <tr>
                <td>
                  <mat-selection-list formControlName="happen_location" class="rows grid2" #happenedLocation>
                    <mat-list-option [value]="item" checkboxPosition="before"
                      *ngFor="let item of store?.location;let i=index">
                      {{item?.Name}}
                    </mat-list-option>
                  </mat-selection-list>
                  <div class="field">
                    <mat-checkbox [checked]="isLocationOther" (change)="locationOther($event)">ផ្សេងៗ</mat-checkbox>
                    <mat-form-field>
                      <input matInput [formControl]="location_other">
                    </mat-form-field>
                  </div>
                </td>
              </tr>
              <tr>
                <th colspan="10">
                  <div class="field tableTdHeight">
                    <label><span class="no">4.1 </span>ឈ្មោះទីតាំង</label>
                    <mat-form-field>
                      <input matInput [formControl]="location_name">
                    </mat-form-field>
                  </div>
                </th>
              </tr>
            </table>
          </div>
          <div style="width: 50%;" class="mat-res">
            <table style="width:100%" class="tableTd">
              <tr>
                <th class="bgColor"><label><span class="no">5. </span>មូលហេតុបង្ក</label></th>
              </tr>
              <tr>
                <td>
                  <mat-selection-list formControlName="cause" class="rows grid2" #crimeCause>
                    <mat-list-option [value]="item" checkboxPosition="before"
                      *ngFor="let item of store?.cause;let i=index">
                      {{item?.Name}}
                    </mat-list-option>
                  </mat-selection-list>
                  <div class="field">
                    <mat-checkbox [checked]="isCauseOther" (change)="causeOther($event)">ផ្សេងៗ</mat-checkbox>
                    <mat-form-field>
                      <input matInput [formControl]="cause_other">
                    </mat-form-field>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="bgColor"><label><span class="no">6. </span>មធ្យោបាយបង្កហេតុ</label></th>
              </tr>
              <tr>
                <th class="bgColor">
                  <div class="field child">
                    <label><span class="no">6.1</span> អាវុធជាតិផ្ទុះ៖</label>
                    <mat-checkbox class="spacing10" [checked]="weaponNoStatus" (change)="noWeapon($event)">គ្មាន
                    </mat-checkbox>
                    <mat-checkbox class="spacing10 color-red" [checked]="weaponHaveStatus"
                      (change)="haveWeapon($event)">មាន
                    </mat-checkbox>
                  </div>
                </th>
              </tr>
              <tr>
                <td>
                  <mat-selection-list class="rows" #crimeWeapon formControlName="weapon">
                    <mat-list-option [value]="item" checkboxPosition="before"
                      *ngFor="let item of store?.weapon;let i=index">
                      {{item?.Name}}
                    </mat-list-option>
                  </mat-selection-list>
                  <div class="height-mat" class="field">
                    <mat-checkbox [formControl]="weapon_other_check" (change)="weaponOther($event)">ផ្សេងៗ</mat-checkbox>
                    <mat-form-field>
                      <input matInput [formControl]="weapon_other">
                    </mat-form-field>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="bgColor">
                  <div class="field child">
                    <label><span class="no">6.2 </span>មធ្យោបាយផ្សេងទៀត៖</label>
                    <mat-checkbox class="spacing10" [checked]="toolboxNoStatus" (change)="noToolbox($event)">គ្មាន</mat-checkbox>
                    <mat-checkbox class="spacing10 color-red" [checked]="toolboxHaveStatus" (change)="isHaveToolbox($event)">មាន</mat-checkbox>
                  </div>
                </th>
              </tr>
              <tr>
                <td>
                  <mat-selection-list class="rows grid2" #crimeToolbox formControlName="toolbox">
                    <mat-list-option [value]="item" checkboxPosition="before"
                      *ngFor="let item of store?.toolbox;let i=index">
                      {{item?.Name}}
                    </mat-list-option>
                  </mat-selection-list>
                  <div style="display: flex;flex-direction: column;">
                    <div class="field">
                      <mat-checkbox [formControl]="toolbox_other_check" (change)="toolboxOther($event)">ផ្សេងៗ</mat-checkbox>
                      <mat-form-field>
                        <input matInput [formControl]="toolbox_other">
                      </mat-form-field>
                    </div>
                  </div>

                </td>
              </tr>
              <tr>
                <th class="bgColor">
                  <div class="field child">
                    <label><span class="no">6.3 </span>មធ្យោបាយធ្វើដំណើរ៖</label>
                    <mat-checkbox class="spacing10" [checked]="transportTypeNoStatus"
                      (change)="noTransportType($event)">គ្មាន
                    </mat-checkbox>
                    <mat-checkbox class="spacing10 color-red" [checked]="transportTypeHaveStatus"
                      (change)="isHaveTransportType($event)">
                      មាន</mat-checkbox>
                  </div>
                </th>
              </tr>
              <tr>
                <td>
                    <mat-selection-list class="rows grid2" #crimeOtherTransport formControlName="transport">
                        <mat-list-option [value]="item" checkboxPosition="before"
                          *ngFor="let item of store?.transportType;let i=index">
                          {{item?.Name}}
                        </mat-list-option>
                      </mat-selection-list>

                  <div class="field">
                    <mat-checkbox [formControl]="transport_other_check" (change)="transportOther($event)">ផ្សេងៗ</mat-checkbox>
                    <mat-form-field>
                        <input matInput [formControl]="transport_other">
                      </mat-form-field>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="bgColor"><label><span class="no">7. </span>សិត្ដិសង្ខេប</label></th>
              </tr>
              <tr>
                <td class="p-0">
                  <table style="width:100%" class="tableTd no-bd">
                    <tr>
                      <td class="no-bt-bb no-bl">
                        <div class="field child">
                          <label><span class="no">7.1</span> ចំនួនជនរងគ្រោះ</label>
                          <input class="dot" type="number" style="margin-bottom: 5px;" formControlName="victim_total">
                          <label>នាក់</label>
                        </div>
                        <div class="field" style="font-size: 12px;padding: 0 24px;">
                          <label>(ស្រី</label>
                          <input class="dot" type="number" style="font-size: 12px;"
                            formControlName="victim_female_total">
                          <label>នាក់)</label>
                        </div>
                      </td>
                      <td class="no-bt-bb">
                        <div class="field">
                          <label><span class="no">7.1</span> ចំនួនជនសង្ស័យ</label>
                          <input class="dot" type="number" style="margin-bottom: 5px;" formControlName="suspect_total">
                          <label>នាក់</label>
                        </div>
                        <div class="field" style="font-size: 12px;padding: 0 24px;">
                          <label>(ស្រី</label>
                          <input class="dot" type="number" style="font-size: 12px;"
                            formControlName="suspect_female_total">
                          <label>នាក់)</label>
                        </div>
                      </td>
                      <label class="no-bt-bb no-br">
                        <div class="field">
                          <label> <span class="no">7.1</span> ឃាត់ខ្លួនបាន</label>
                          <input class="dot" type="number" style="margin-bottom: 5px;" formControlName="arrested_total">
                          <label>នាក់</label>
                        </div>
                        <div class="field" style="font-size: 12px;padding: 0 24px;">
                          <label>(ស្រី</label>
                          <input class="dot" type="number" style="font-size: 12px;"
                            formControlName="arrested_female_total">
                          <label>នាក់)</label>
                        </div>
                      </label>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="" style="padding: 3px 4px;">
                  <div class="field child">
                    <label><span class="no">7.2 </span>បញ្ជីសម្ភារ:បាត់បង់</label>
                    <mat-checkbox class="spacing10" [checked]="materialLostNoStatus" (change)="noMaterialLost($event)">
                      គ្មាន</mat-checkbox>
                    <mat-checkbox class="spacing10" [checked]="materialLostHaveStatus"
                      (change)="isHaveMaterialLost($event)">មាន (សូមបំពេញតារាង B)</mat-checkbox>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="" style="padding: 3px 4px;">
                  <div class="field child">
                    <label><span class="no">7.3</span> មធ្យោបាយធ្វើដំណើរ៖</label>
                    <mat-checkbox class="spacing10" [checked]="transportNoStatus" (change)="noTransport($event)">គ្មាន
                    </mat-checkbox>
                    <mat-checkbox class="spacing10" [checked]="transportHaveStatus" (change)="isHaveTransport($event)">
                      មាន (សូមបពេញតារាង C)</mat-checkbox>

                  </div>
                </td>
              </tr>

            </table>
            <div class="rows-footer">
                <a class="enbutton cancel m-r16" mat-dialog-close="" (click)="_goBack()">បោះបង់</a>
                <button mat-button class="enbutton primary m-r16" [disabled]="!form.valid || store?.loading"
                  (click)="save(form.value)">បន្ទាប់</button>
                <button mat-button (click)="print()" class="enbutton primary">
                  <mat-icon class="mat-18">print</mat-icon>
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<app-spinner *ngIf="store?.loading"></app-spinner>