<div class="filter-penal">
  <h4>របាយការណ៍សង្ខេបបទល្មើសតាមខេត្តក្រុង</h4>
  <div class="filter-box">
    <button mat-button (click)="defaultPeriod()" class="filter-panel-item">
      គ្រប់ខេត្តក្រុងទាំងអស់
    </button>
  </div>
  <h4>ជ្រើសរើសខេត្តក្រុង</h4>
  <mat-radio-group [formControl]="province" (change)="changePeriod($event)" aria-labelledby="example-radio-group-label"
    class="example-radio-group">
    <mat-radio-button class="example-radio-button" *ngFor="let season of data" [value]="season">
      {{season?.name}}
    </mat-radio-button>
  </mat-radio-group>
</div>