<div class="filter-penal">
  <h4>របាយការណ៍សង្ខេបបទល្មើសតាមប្រភេទបទល្មើស</h4>
  <div class="filter-box">
    <button mat-button (click)="defaultPeriod()" class="filter-panel-item">
      ប្រភេទបទល្មើសទាំងអស់
    </button>
  </div>
  <h4>ជ្រើសរើសប្រភេទបទល្មើស</h4>
  <mat-radio-group (change)="changePeriod($event)" aria-labelledby="example-radio-group-label"
    class="example-radio-group">
    <mat-radio-button class="example-radio-button" *ngFor="let season of data" [value]="season">
      {{season?.name}}
    </mat-radio-button>
  </mat-radio-group>
</div>