<div class="crime-action-bar">
  <button mat-button color="primary" class="add-crime-bnt">បញ្ចូលវត្ថុតាងផ្សេងទៀត</button>
</div>

<div class="crime-listing-card">
  <table class="crime-table-listing">
    <tr>
      <th>ល.រ</th>
      <th>ប្រភេទ</th>
      <th>ម៉ាក</th>
      <th>ស្លាកលេខ</th>
      <th>ពណ៌</th>
      <th>លេខតួ</th>
      <th>លេខម៉ាស៊ីន</th>
      <th>កំណត់សម្គាល់</th>
    </tr>
    <tr>
      <td>1</td>
      <td>k-1</td>
      <td>Dream</td>
      <td>1AB-1867</td>
      <td>black</td>
      <td>321</td>
      <td>123</td>
      <td>1AB-1867</td>
    </tr>
  </table>
</div>