<h4 class="form-title">ព័ត៌មានស្ដីពីវត្ថុតាង</h4>
<div id="print">
    <div class="mainForm">
        <div class="head">
          <div class="matHead">
            <h2 class="m-0" style="line-height: normal; font-size: 16px"><span class="form-title">C. ព័ត៌មានស្ដីពីវត្ថុតាង</span></h2>
            <div class="postNumber">
              <div class="matPostNumber field">
                <label>លេខករណី(ប៉ុស្ដិ៏): </label>
                <input class="dot two">
                <p>/</p>
                <input class="dot two">
                <p>/</p>
                <input class="dot two">
              </div>
              <div class="postcode">
                <label>កូដតំបន់</label>
                <label style="padding: 0px 12px;">/</label>
                <label>កូដតំបន់</label>
                <label style="padding: 0 12px;">/</label>
                <label>លេខករណី</label>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <div style="display:flex;">
            <div style="width: 50%;">
              <table style="width:100%" class="tableTd table-first">
                <tr>
                  <th class="bgColor" colspan="10"><label><span class="no">ក</span> ជនរងគ្រោ:</label></th>
                </tr>
                <tr>
                  <th colspan="10">១ យាន ជំនិ:</th>
                </tr>
                <tr>
                  <td>លរ</td>
                  <td>ប្រភេទ</td>
                  <td>ម៉ាក</td>
                  <td>ស៊េរី</td>
                  <td>ឆ្នាំផលិត</td>
                  <td>ព័ណ</td>
                  <td>លេខតួ</td>
                  <td>លេខម៉ស៊ីន</td>
                  <td>ផ្លាកលេខ</td>
                </tr>
                <tr>
                  <td>១</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>២</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៣</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៤</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៥</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៦</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៧</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៨</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៩</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
              <table style="width:100%" class="tableTd table-first">
                <tr>
                  <th class="bgColor" colspan="10">២ ផ្សេងៗ</th>
                </tr>
                <tr>
                  <td>លរ</td>
                  <td>ប្រភេទ</td>
                  <td>ចំនួន</td>
                  <td>កំណត់សំគាល់</td>
                </tr>
                <tr>
                  <td>១</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>២</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៣</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៤</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៥</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៦</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៧</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៨</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៩</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>១០</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>១១</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
            <div style="width: 50%;">
              <table style="width:100%" class="tableTd table-first">
                <tr>
                  <th class="bgColor" colspan="10">ខ ជនសង្ស័យ</th>
                </tr>
                <tr>
                  <th colspan="10">១ យាន ជំនិ:</th>
                </tr>
                <tr>
                  <td>លរ</td>
                  <td>ប្រភេទ</td>
                  <td>ម៉ាក</td>
                  <td>ស៊េរី</td>
                  <td>ឆ្នាំផលិត</td>
                  <td>ព័ណ</td>
                  <td>លេខតួ</td>
                  <td>លេខម៉ស៊ីន</td>
                  <td>ផ្លាកលេខ</td>
                </tr>
                <tr>
                  <td>១</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>២</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៣</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៤</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៥</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៦</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៧</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៨</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
              <table style="width:100%" class="tableTd table-first">
                <tr>
                  <th class="bgColor" colspan="10">២ អាវុធ</th>
                </tr>
                <tr>
                  <td>លរ</td>
                  <td>ម៉ាក</td>
                  <td>លេខ</td>
                  <td>ឆ្នាំផលិត</td>
                  <td>កំណត់សំគាល់</td>
                </tr>
                <tr>
                  <td>១</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>២</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៣</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
              <table style="width:100%" class="tableTd table-first">
                <tr>
                  <th class="bgColor" colspan="10">៣ ផ្សេងៗ</th>
                </tr>
                <tr>
                  <td>លរ</td>
                  <td>ប្រភេទ</td>
                  <td>ចំនួន</td>
                  <td>កំណត់សំគាល់</td>
                </tr>
                <tr>
                  <td>១</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>២</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>៣</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>

