<!-- <ng-container *mobxAutorun>
    <div class="dashboard-wrapper">
        <div class="dashboard-body">
            <div class="app-container-nav has-border-bottom">
                <button mat-button class="options-dashboard" [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu">
                    <span>{{store?.periodText}}</span>
                    <i class="material-icons">arrow_drop_down</i>
                </button>
                <mat-menu #menu="matMenu">
                    <div class="options-lags" (click)="$event.stopPropagation();">
                        <app-statistic-period [fromDate]="store?.fromDate" [toDate]="store?.toDate">
                        </app-statistic-period>
                    </div>
                </mat-menu>
                <button mat-button class="options-dashboard" [matMenuTriggerFor]="menuProvince"
                    aria-label="Example icon-button with a menu">
                    <span>{{store?.provinceText}}</span>
                    <i class="material-icons">arrow_drop_down</i>
                </button>
                <mat-menu #menuProvince="matMenu">
                    <div class="options-lags" (click)="$event.stopPropagation();">
                        <app-statistic-province [selected]="store?.selectedProvince" [data]="store?.provinces">
                        </app-statistic-province>
                    </div>
                </mat-menu>
                <button mat-button class="options-dashboard" [matMenuTriggerFor]="menuCategory"
                    aria-label="Example icon-button with a menu">
                    <span>{{store?.categoryText}}</span>
                    <i class="material-icons">arrow_drop_down</i>
                </button>
                <mat-menu #menuCategory="matMenu">
                    <div class="options-lags" (click)="$event.stopPropagation();">
                        <app-statistic-category [data]="store?.statisticCategory"></app-statistic-category>
                    </div>
                </mat-menu>
                <button mat-button class="options-dashboard" [matMenuTriggerFor]="menuSubCategory"
                    aria-label="Example icon-button with a menu">
                    <span>{{store?.subCategoryText}}</span>
                    <i class="material-icons">arrow_drop_down</i>
                </button>
                <mat-menu #menuSubCategory="matMenu">
                    <div class="options-lags" (click)="$event.stopPropagation();">
                        <app-statistic-sub-category [data]="store?.statisticSubCategory">
                        </app-statistic-sub-category>
                    </div>
                </mat-menu>
            </div>
            <div class="dashboard-statistic" *ngIf="!store?.loading">
                <div class="ds-right-block">
                    <div class="ds-grid-item">
                        <div class="item-row-hd pl-3">
                            <h3>បទល្មើសតាមខេត្តក្រុង</h3>
                            <p>{{store?.periodText}}</p>
                        </div>
                        <div class="ds-chart-parent" [ngClass]="store?.provinceFilter===0?'height600':'height400'">
                            <ngx-charts-bar-horizontal [showDataLabel]="showDataLabel" [legendTitle]="legendTitle"
                                [roundDomains]="roundDomains" [scheme]="colorScheme" [results]="store?.statisticByZone"
                                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
                                [showXAxisLabel]="showXAxisLabel" [view]="" [showGridLines]="showGridLines"
                                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
                            </ngx-charts-bar-horizontal>
                        </div>
                    </div>
                    <div class="ds-grid-item">
                        <div class="item-row-hd">
                            <h3>ស្ថានភាពបទល្មើសសរុបក្នុងប្រព័ន្ធ</h3>
                        </div>
                        <div class="summary-statistic">
                            <h4>សរុបទាំងអស់</h4>
                            <p><strong>{{store.totalAllCrime}}</strong>បទល្មើស</p>
                        </div>
                        <div class="ds-chart-parent" style="min-height: 200px; width: 100%">
                            <ngx-charts-pie-chart class="category-chart" [scheme]="colorSchemeAllCrime"
                                [results]="store?.statisticByAllCrime" [legend]="showLegend"
                                [explodeSlices]="explodeSlices" [labels]="showLabels" [gradient]="gradient"
                                [trimLabels]="trimLabels" [view]="" legendPosition="below">
                            </ngx-charts-pie-chart>
                        </div>
                    </div>
                    <div class="cnp-card">
                        <div class="ds-grid-item">
                            <div class="item-row-hd">
                                <h3>ស្ថានភាពសាលដីការសរុបក្នុងប្រព័ន្ធ</h3>
                            </div>
                            <div class="ds-chart-parent" style="min-height: 200px; width: 100%">
                                <div class="summary-statistic">
                                    <h4>សរុបទាំងអស់</h4>
                                    <p><strong>{{store.totalAllJustice}}</strong>សាលដីការ</p>
                                </div>
                                <ngx-charts-pie-chart *ngIf="store?.totalAllJustice>0" class="category-chart"
                                    [scheme]="colorSchemeAllJustice" [results]="store?.statisticByAllJustice"
                                    [legend]="showLegend" [explodeSlices]="explodeSlices" [labels]="showLabels"
                                    [gradient]="gradient" [trimLabels]="trimLabels" [view]="" legendPosition="below">
                                </ngx-charts-pie-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ds-left-block">
                    <div class="ds-grid-wrap">
                        <div class="ds-grid-item no-sb">
                            <div class="" style="margin-bottom: 10px; min-height: 200px;">
                                <div class="ds-grid-item">
                                    <div class="item-row-hd">
                                        <h3>ស្ថានភាពប្រភេទបទល្មើស</h3>
                                        <p>{{store?.periodText}}</p>
                                    </div>
                                    <div class="ds-chart-parent" style="min-height: 400px;padding: 24px;">
                                        <ngx-charts-pie-chart class="sub-category-chart" [scheme]="colorScheme"
                                            [results]="store?.statisticBySubCategory" [legend]="showLegend"
                                            [explodeSlices]="explodeSlices" [labels]="showLabels" [gradient]="gradient"
                                            [trimLabels]="trimLabels" legendPosition="below" [view]="">
                                        </ngx-charts-pie-chart>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ds-grid-item no-sb">
                            <div class="" style="margin-bottom: 10px; min-height: 200px;">
                                <div class="ds-grid-item">
                                    <div class="item-row-hd">
                                        <h3>ព័ត៌មានជន​រងគ្រោះ និងជន​សង្ស័យ</h3>
                                        <p>{{store?.periodText}}</p>
                                    </div>
                                    <div class="rows">
                                        <div class="summary-statistic">
                                            <h4><span class="status victim"></span>ព័ត៌មានជន​រងគ្រោះសរុបទាំងអស់</h4>
                                            <p><strong>{{store.totalVictim|number}}</strong>នាក់</p>
                                        </div>
                                        <div class="summary-statistic">
                                            <h4><span class="status suspect"></span>ព័ត៌មានជន​សង្ស័យសរុបទាំងអស់</h4>
                                            <p><strong>{{store.totalSuspect|number}}</strong>នាក់</p>
                                        </div>
                                    </div>
                                    <div class="ds-chart-parent" style="min-height: 200px;padding: 24px;">
                                        <div class="d-flex">
                                            <div class="chart-statistic-by-suspect" style="margin-right: -23px">
                                                <ngx-charts-bar-horizontal class="statistic-by-suspect"
                                                    [showDataLabel]="showDataLabel" [legendTitle]="legendTitle"
                                                    [roundDomains]="roundDomains" [scheme]="colorSchemeApple"
                                                    [results]="store?.statisticByVictim" [gradient]="gradient"
                                                    [xAxis]="showXAxis1" [yAxis]="showYAxis1"
                                                    [showXAxisLabel]="showXAxisLabel1" [showGridLines]="showGridLines"
                                                    [showYAxisLabel]="showYAxisLabel1" [xAxisLabel]="xAxisLabel"
                                                    [yAxisLabel]="yAxisLabel">
                                                </ngx-charts-bar-horizontal>
                                            </div>
                                            <div class="chart-statistic-by-suspect" style="margin-left: -23px">
                                                <ngx-charts-bar-horizontal class="statistic-by-suspect"
                                                    [showDataLabel]="showDataLabel" [legendTitle]="legendTitle"
                                                    [roundDomains]="roundDomains" [scheme]="colorSchemeVictim"
                                                    [results]="store?.statisticBySuspect" [gradient]="gradient"
                                                    [xAxis]="showXAxis1" [yAxis]="showYAxis1"
                                                    [showXAxisLabel]="showXAxisLabel" [view]=""
                                                    [showGridLines]="showGridLines" [showYAxisLabel]="showYAxisLabel1"
                                                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
                                                </ngx-charts-bar-horizontal>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="dp-grid r1">
                                <div class="ds-grid-item">
                                    <div class="item-row-hd">
                                        <h3>ឯកសារជំនួយស្មារតី</h3>
                                    </div>
                                    <div class="ds-chart-parent">
                                        <a class="recent-parent" *ngFor="let item of HELPER">
                                            <mat-icon>arrow_right</mat-icon>
                                            <span> {{item?.name}}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ds-right-block-memo">
                    <div class="ds-grid-item">
                        <div class="item-row-hd">
                            <h3>ស្ថានភាពបទល្មើស</h3>
                            <p>{{store?.periodText}}</p>
                        </div>
                        <div class="summary-statistic">
                            <h4>សរុបទាំងអស់</h4>
                            <p><strong>{{store.totalCategory}}</strong>បទល្មើស</p>
                        </div>
                        <div class="ds-chart-parent" style="min-height: 200px; width: 100%">
                            <ngx-charts-pie-chart class="category-chart" [scheme]="colorScheme"
                                [results]="store?.statisticByCategory" [legend]="showLegend"
                                [explodeSlices]="explodeSlices" [labels]="showLabels" [gradient]="gradient"
                                [trimLabels]="trimLabels" [view]="" legendPosition="below">
                            </ngx-charts-pie-chart>
                        </div>
                    </div>

                    <div class="cnp-card">
                        <div class="ds-grid-item">
                            <div class="item-row-hd">
                                <h3>ស្ថានភាពសាលដីការ</h3>
                                <p>{{store?.periodText}}</p>
                            </div>
                            <div class="ds-chart-parent" style="min-height: 200px; width: 100%">
                                <div class="summary-statistic">
                                    <h4>សរុបទាំងអស់</h4>
                                    <p><strong>{{store.totalJustice}}</strong>សាលដីការ</p>
                                </div>
                                <ngx-charts-pie-chart *ngIf="store?.totalJustice>0" class="category-chart"
                                    [scheme]="colorSchemeJustice" [results]="store?.statisticByJustice"
                                    [legend]="showLegend" [explodeSlices]="explodeSlices" [labels]="showLabels"
                                    [gradient]="gradient" [trimLabels]="trimLabels" [view]="" legendPosition="below">
                                </ngx-charts-pie-chart>
                            </div>
                        </div>
                    </div>
                    <div class="ds-grid-item">
                        <div class="item-row-hd">
                            <h3>បទល្មើសថ្មីៗ</h3>
                        </div>
                        <div class="ds-chart-parent">
                            <a [routerLink]="['/crime-profile/' + item?.key + '/overview']" class="recent-parent"
                                *ngFor="let item of store.data">
                                <mat-icon>arrow_right</mat-icon>
                                <span> {{item?.crime_no}}, {{item?.category?.name}} / {{item?.sub_category?.name}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <app-spinner *ngIf="store?.loading"></app-spinner>
</ng-container> -->