<ng-container *mobxAutorun>
    <div *ngIf="!store?.loading" class="dashboard-wrapper">
        <div class="dashboard-body-table">
            <div class="app-container-nav has-border-bottom">
                <button mat-button class="options-dashboard" [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu">
                    <span>{{store?.periodText}}</span>
                    <i class="material-icons">arrow_drop_down</i>
                </button>
                <mat-menu #menu="matMenu">
                    <div class="options-lags" (click)="$event.stopPropagation();">
                        <app-crime-filter-period [fromDate]="store?.fromDate" [toDate]="store?.toDate">
                        </app-crime-filter-period>
                    </div>
                </mat-menu>
                <button mat-button class="options-dashboard" [matMenuTriggerFor]="menuProvince"
                    aria-label="Example icon-button with a menu">
                    <span>{{geo?.locationText}}</span>
                    <i class="material-icons">arrow_drop_down</i>
                </button>
                <mat-menu #menuProvince="matMenu">
                    <div class="options-lags" (click)="$event.stopPropagation();">
                        <app-crime-filter-province  
                        [selectedProvince]="geo?.selectedProvince" 
                        [selectedDistrict]="geo?.selectedDistrict" 
                        [selectedCommune]="geo?.selectedCommune" 
                        [districts]="geo?.districts"
                        [communes]="geo?.communes"
                        [data]="geo?.provinces">
                        </app-crime-filter-province>
                    </div>
                </mat-menu>
                <button mat-button class="options-dashboard" [matMenuTriggerFor]="menuCategory"
                    aria-label="Example icon-button with a menu">
                    <span>{{store?.categoryText}}</span>
                    <i class="material-icons">arrow_drop_down</i>
                </button>
                <mat-menu #menuCategory="matMenu">
                    <div class="options-lags" (click)="$event.stopPropagation();">
                        <app-crime-filter-category 
                        [subCategories]="store?.statisticCategory"
                        [categories]="store?.statisticCategory">
                        </app-crime-filter-category>
                    </div>
                </mat-menu>
                <div class="flex1"></div>
                <button mat-button (click)="addNew()" class="options-dashboard primary">
                    <i class="material-icons">add</i>
                    <span>បញ្ចូលបទល្មើសថ្មី</span>
                </button>
            </div>
            <ng-container *ngIf="store?.data?.length>0 && !store?.loading">
                <div class="card-wrapper tab">
                    <div class="tb-content">
                        <div class="card-header">
                            <div class="card-item">
                                <div class="card-col5">
                                    <div class="flex-block">
                                        លេខរៀង
                                    </div>
                                </div>
                                <div class="card-col10">
                                    <div class="flex-block">
                                        លេខករណី
                                    </div>
                                </div>
                                <div class="card-col10">
                                    <div class="flex-block">
                                        ថ្ងៃខែឆ្នាំកើតហេតុ
                                    </div>
                                </div>
                                <div class="card-col15">
                                    <div class="flex-block">
                                        ទីកន្លែងកើតហេតុ
                                    </div>
                                </div>
                                <div class="card-col15">
                                    <div class="flex-block">
                                        ប្រភេទបទល្មើស
                                    </div>
                                </div>
                                <div class="card-col10">
                                    <div class="flex-block">
                                        អ្នករងគ្រោះ
                                    </div>
                                </div>
                                <div class="card-col15">
                                    <div class="flex-block">
                                        ជនសង្ស័យ
                                    </div>
                                </div>
                                <div class="card-col15">
                                    <div class="flex-block">
                                        ស្ថានភាព
                                    </div>
                                </div>
                                <div class="card-col5"></div>
                            </div>
                        </div>
                        <div class="card-content">
                            <ng-container *ngFor="let item of store?.data ;let i=index">
                                <div class="card-item">
                                    <div class="card-col5">
                                        <div class="flex-block">
                                            <span>{{i+1}}</span>
                                        </div>
                                    </div>
                                    <div class="card-col10">
                                        <div class="flex-block link">
                                            <strong
                                                [routerLink]="['/crime-profile/' + item?.key + '/overview']">{{item?.CaseNr}}</strong>
                                        </div>
                                    </div>
                                    <div class="card-col10">
                                        <div class="flex-block">
                                            <!-- {{item?.create_date?.toDate() | date:'short'}} -->
                                            {{item?.IncidentDate | dateString}}
                                            <span class="days-total" *ngIf="item?.IncidentTime">ម៉ោង
                                                {{item?.IncidentTime}}</span>
                                        </div>
                                    </div>
                                    <div class="card-col15">
                                        <div class="flex-block">
                                            ឃុំ {{item?.CommuneName}} ភូមិ {{item?.VillageName}}
                                        </div>
                                    </div>
                                    <div class="card-col15">
                                        <div class="flex-block">
                                            {{item?.OffenceName}} / {{item?.CaseName}}
                                        </div>
                                    </div>
                                    <div class="card-col10">
                                        <div class="flex-block">
                                            {{item?.VictimNr}} នាក់ {{item?.NatureOfInjury}}
                                        </div>
                                    </div>
                                    <div class="card-col15">
                                        <div class="flex-block">
                                            ឃាត់ខ្លួន {{item?.Arrested}} នាក់ / {{item?.SuspectNr}} នាក់
                                        </div>
                                    </div>
                                    <div class="card-col15">
                                        <div class="flex-block">
                                            <span class="status green" *ngIf="item?.ResolvedDate">
                                                បានបង្ក្រាប
                                            </span>
                                            <span class="status" *ngIf="!item?.ResolvedDate">
                                                មិនទាន់បង្ក្រាបបាន
                                            </span>
                                            <span *ngIf="item?.ResolvedDate">{{item?.ResolvedDate | dateString}}</span>
                                            <strong *ngIf="item?.ResolvedDate" class="days-total">{{item?.TotalDay}}
                                                ថ្ងៃ</strong>
                                        </div>
                                    </div>
                                    <div class="card-col5">
                                        <div class="card-list-action"
                                            *ngIf="env?.isReadWrite && item?.crime_status?.key<3">
                                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                                <i class="material-icons">more_vert</i>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <!-- <button mat-menu-item (click)="confirmDone(item)">
                                  <mat-icon>done_all</mat-icon>
                                  <span>Complete</span>
                                </button> -->
                                                <button mat-menu-item [routerLink]="['/new-case/hold/' + item?.key]">
                                                    <mat-icon>edit</mat-icon>
                                                    <span>Edit</span>
                                                </button>
                                                <button mat-menu-item (click)="delete(item)">
                                                    <mat-icon>delete</mat-icon>
                                                    <span>Delete</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                        <div class="card-list-action" *ngIf="env?.isAdmin">
                                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                                <i class="material-icons">more_vert</i>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item [routerLink]="['/new-case/hold/' + item?.key]">
                                                    <mat-icon>edit</mat-icon>
                                                    <span>Edit</span>
                                                </button>
                                                <button mat-menu-item (click)="_transfer(item)">
                                                    <mat-icon>transform</mat-icon>
                                                    <span>ផ្ទេរឧក្រិដ្ឋកម្ម</span>
                                                </button>
                                                <!-- <button mat-menu-item (click)="resolve(item)">
                                  <mat-icon>delete</mat-icon>
                                  <span>Resolve</span>
                                </!-->
                                            </mat-menu>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="!store?.data?.length>0 && !store?.loading">
                <div class="empty-block">
                    <div class="center-block-empty">
                        <div class="empty-img">
                            <img src="https://mobilecenter.azureedge.net/generated/img/no-apps-db6363dd644196e2291b243bc210e1b0.svg"
                                alt="empty">
                        </div>
                        <div class="empty-text">
                            <p class="empty-state-title">
                                {{labels?.empty}}
                            </p>
                            <p class="empty-state-desc">
                                {{labels?.emptyNote}}
                            </p>
                            <button mat-button *ngIf="env?.isReadWrite" class="add-button"
                                [routerLink]="['/new-case']">{{labels?.addNew}}</button>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>

    </div>
    <app-spinner *ngIf="store?.loading"></app-spinner>
</ng-container>