<ng-container *ngIf="!store?.loading">
  <form [formGroup]="form">
    <div class="cr-topbar">
      <div class="cr-flexc">
        <div class="cr-logo" (click)="_goBack()">
          <img src="/assets/images/logo.png" alt="">
        </div>
        <div class="cr-title">
          A <span class="form-title">ព័ត៍មានស្ដីពីហេតុការណ៏</span>
        </div>
      </div>
    </div>
    <div class="cr-progress"></div>
    <div id="print">
      <div class="mainForm">
        <div class="head">
          <div class="matHead">
            <table style="width: 368px;">
              <tr>
                <td>ស្នងការដ្ឋាននគរបាល</td>
                <td><input type="text" formControlName="police_commissariat"></td>
              </tr>
              <tr>
                <td>អធិការដ្ឋាននគរបាល</td>
                <td><input type="text" formControlName="police_inspectorate"></td>
              </tr>
              <tr>
                <td>ប៉ុស្ដិនគរបាល</td>
                <td><input type="text" formControlName="police_station"></td>
              </tr>
            </table>
            <div class="img">
              <img src="/assets/images/logo.png" alt="">
              <h3>កំណត់ត្រាបទល្មើសព្រហ្មទណ្ឌ</h3>
            </div>
            <div class="postNumber">
              <div class="matPostNumber field">
                <label>លេខករណី(ប៉ុស្ដិ៏): </label>
                <input class="dot two" formControlName="crime_commune_no">
                <p>/</p>
                <input class="dot two" formControlName="crime_year_no">
                <p>/</p>
                <input class="dot two" formControlName="crime_index">
              </div>
              <div class="postcode">
                <p>កូដតំបន់</p>
                <p style="padding: 0px 12px;">/</p>
                <p>កូដតំបន់</p>
                <p style="padding: 0 12px;">/</p>
                <p>លេខករណី</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <h2 style="line-height: normal; font-size: 16px">A <span class="form-title">ព័ត៍មានស្ដីពីហេតុការណ៏</span></h2>
          <div style="display:flex;width: 100%;">
            <div style="width: 50%;" class="mat-res">
              <table style="width:100%" class="tableTd">
                <tr>
                  <th class="bgColor no-bd" colspan="10" style="display: flex;justify-content: space-between;">
                    <label><span class="no">1 </span> ស្ថានភាពទម្ងន់បទល្មើស</label></th>
                </tr>
                <tr>
                  <td class="p-0 no-bt">
                    <table style="width:100%" class="tableTd no-bd">
                      <tr>
                        <td style="width:50%" class="no-bl">
                          <strong>
                            <mat-checkbox [checked]="cate1Status" (change)="cat1($event)"> ឧ្រកិដ្ឋ
                            </mat-checkbox>
                          </strong>
                        </td>
                        <td style="width:50%" class="no-br">
                          <strong>
                            <mat-checkbox [checked]="cate2Status" (change)="cat2($event)"> មជ្ឈឹម
                            </mat-checkbox>
                          </strong>
                        </td>
                      </tr>
                      <tr>
                        <td class="no-bl no-bb">
                          <div class="field" style="display: flex;flex-direction: column;align-items: flex-start;">
                            <mat-checkbox *ngFor="let item of store?.case1; let i = index"
                              [checked]="case1CheckedIndex === i" [value]="item"
                              (change)="case1CheckboxChange($event, i)" [disabled]="case1Disable"
                              formControlName="case1">
                              {{item?.Name}}
                            </mat-checkbox>
                          </div>
                        </td>
                        <td class="no-bb">
                          <div class="field" style="display: flex;flex-direction: column;align-items: flex-start;">
                            <ng-container *ngFor="let item of store?.case2; let i = index">
                              <mat-checkbox [checked]="case2CheckedIndex === i" [value]="item"
                                (change)="case2CheckboxChange($event, i)" [disabled]="case2Disable"
                                formControlName="case1">
                                {{item?.Name}}
                              </mat-checkbox>
                            </ng-container>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <th class="bgColor" colspan="10"><label><span class="no">2</span> កាលបរិច្ឆេទ
                      និងទីកន្លែងកើតហេតុ</label>
                  </th>
                </tr>
                <tr>
                  <td>
                    <div class="field" style="width: 90%;">
                      <label>ថ្ងៃខែឆ្នាំ កើតហេតុ:</label>
                      <mat-select class="c-select" formControlName="happen_day" [compareWith]="compareObjects">
                        <mat-option *ngFor="let item of happenDays;" [value]="item">
                          {{ item?.name }}
                        </mat-option>
                      </mat-select>
                      <label>/</label>
                      <mat-select class="c-select" formControlName="happen_month" [compareWith]="compareObjects">
                        <mat-option *ngFor="let item of happenMonths;" [value]="item">
                          {{ item?.name }}
                        </mat-option>
                      </mat-select>
                      <mat-select class="c-select" formControlName="happen_year" [compareWith]="compareObjects">
                        <mat-option *ngFor="let item of happenYears;" [value]="item">
                          {{ item?.name }}
                        </mat-option>
                      </mat-select>
                      <label>ម៉ោង:</label>
                      <input class="dot" formControlName="happen_hour">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="field">
                      <label>ថ្ងៃខែឆ្នាំ ទទួលព័តមាន:</label>
                      <mat-select class="c-select" formControlName="receive_day" [compareWith]="compareObjects">
                        <mat-option *ngFor="let item of receiveDays;" [value]="item">
                          {{ item?.name }}
                        </mat-option>
                      </mat-select>
                      <label>/</label>
                      <mat-select class="c-select" formControlName="receive_month" [compareWith]="compareObjects">
                        <mat-option *ngFor="let item of receiveMonths;" [value]="item">
                          {{ item?.name }}
                        </mat-option>
                      </mat-select>
                      <label>/</label>
                      <mat-select class="c-select" formControlName="receive_year" [compareWith]="compareObjects">
                        <mat-option *ngFor="let item of receiveYears;" [value]="item">
                          {{ item?.name }}
                        </mat-option>
                      </mat-select>
                      <label>ម៉ោង:</label>
                      <input class="dot" formControlName="receive_hour">
                      <label class="color-red">ពីប្រភព</label>
                      <input class="dot" formControlName="receive_from">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="field">
                      <label>ភូមិ:</label>
                      <mat-select class="c-select" formControlName="village" [compareWith]="compareObjects">
                        <mat-option *ngFor="let item of villageList;" [value]="item">
                          {{ item.name }}
                        </mat-option>
                      </mat-select>
                      <label>ផ្លូវ:</label>
                      <input class="dot" formControlName="home_no">
                      <label>ផ្ទះលេខ:</label>
                      <input class="dot" formControlName="street_no">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="">
                    <div class="field">
                      <label> <strong><span class="no">3</span> ភូមិសាស្រ្ដ</strong></label>
                      <ng-container *ngFor="let item of store?.place; let i = index">
                        <mat-checkbox class="spacing10" [checked]="placeCheckedIndex === i" [value]="item"
                          (change)="placeCheckboxChange($event, i)">
                          {{item?.Name}}
                        </mat-checkbox>
                      </ng-container>
                      <!-- <mat-checkbox class="spacing1" [checked]="store?.selectedCrime?.location?.name == 'ទីប្រជុំជន'">
                      ទីប្រជុំជន</mat-checkbox>
                    <mat-checkbox class="spacing1" [checked]="store?.selectedCrime?.location?.name == 'ជនបទ'">ជនបទ
                    </mat-checkbox>
                    <mat-checkbox class="spacing1" [checked]="store?.selectedCrime?.location?.name == 'ទីវាល'">ទីវាល
                    </mat-checkbox>
                    <mat-checkbox class="spacing1" [checked]="store?.selectedCrime?.location?.name == 'ទីព្រៃ'">ទីព្រៃ
                    </mat-checkbox>
                    <mat-checkbox class="spacing1 color-red"
                      [checked]="store?.selectedCrime?.location?.name == 'សមុទ្រ'">
                      សមុទ្រ</mat-checkbox>
                    <mat-checkbox class="spacing1 color-red"
                      [checked]="store?.selectedCrime?.location?.name == 'ទន្លេ'">
                      ទន្លេ</mat-checkbox> -->
                    </div>
                  </td>
                </tr>

                <tr>
                  <th class="bgColor" colspan="10"><label><span class="no">4</span> ទីតាំងកើតហេតុ</label></th>
                </tr>
                <tr>
                  <td>
                    <div>
                      <div style="display: grid; grid-template-columns: repeat(4,1fr); grid-gap: 0em">
                        <ng-container *ngFor="let item of store?.location; let i = index;">
                          <mat-checkbox [checked]="locationCheckedIndex === i" [value]="item"
                            (change)="locationCheckboxChange($event, i)" formControlName="location">
                            {{item?.Name}}
                          </mat-checkbox>
                        </ng-container>
                      </div>
                      <!-- <div style="display: flex;flex-direction: column;">
                      <mat-checkbox [checked]="store?.selectedCrime?.location_scene?.name == 'កន្លែងលក់ដូរ'">
                        កន្លែងលក់ដូរ
                      </mat-checkbox>
                      <mat-checkbox [checked]="store?.selectedCrime?.location_scene?.name == 'គ្រឹះស្ថានឯកជន'">
                        គ្រឹះស្ថានឯកជន</mat-checkbox>
                      <mat-checkbox [checked]="store?.selectedCrime?.location_scene?.name == 'ផ្ទះ'">ផ្ទះ</mat-checkbox>
                      <mat-checkbox [checked]="store?.selectedCrime?.location_scene?.name == 'វត្ដអារាម'">វត្ដអារាម
                      </mat-checkbox>
                    </div>
                    <div style="display: flex;flex-direction: column;">
                      <mat-checkbox [checked]="store?.selectedCrime?.location_scene?.name == 'កន្លែងលក់ដូរ'">
                        កន្លែងលក់ដូរ
                      </mat-checkbox>
                      <mat-checkbox [checked]="store?.selectedCrime?.location_scene?.name == 'គ្រឹះស្ថានឯកជន'">
                        គ្រឹះស្ថានឯកជន</mat-checkbox>
                      <mat-checkbox [checked]="store?.selectedCrime?.location_scene?.name == 'ផ្ទះ'">ផ្ទះ</mat-checkbox>
                      <mat-checkbox [checked]="store?.selectedCrime?.location_scene?.name == 'វត្ដអារាម'">វត្ដអារាម
                      </mat-checkbox>
                    </div>
                    <div style="display: flex;flex-direction: column;">
                      <mat-checkbox class=""
                        [checked]="store?.selectedCrime?.location_scene?.name == 'កាលរិយាល័យធ្វើការ'">កាលរិយាល័យធ្វើការ
                      </mat-checkbox>
                      <mat-checkbox class="" [checked]="store?.selectedCrime?.location_scene?.name == 'ចំណតរថយន្ដ'">
                        ចំណតរថយន្ដ</mat-checkbox>
                      <mat-checkbox class="" [checked]="store?.selectedCrime?.location_scene?.name == 'ផ្ទះសំណាក់'">
                        ផ្ទះសំណាក់</mat-checkbox>
                      <mat-checkbox class="" [checked]="store?.selectedCrime?.location_scene?.name == 'សណ្ឋាគារ'">
                        សណ្ឋាគារ
                      </mat-checkbox>
                    </div>
                    <div style="display: flex;flex-direction: column;">
                      <mat-checkbox class="" [checked]="store?.selectedCrime?.location_scene?.name == 'ក្រុមហ៊ុន'">
                        ក្រុមហ៊ុន</mat-checkbox>
                      <mat-checkbox class="" [checked]="store?.selectedCrime?.location_scene?.name == 'ទីផ្សារ'">ទីផ្សារ
                      </mat-checkbox>
                      <mat-checkbox class="" [checked]="store?.selectedCrime?.location_scene?.name == 'ព្រលានយន្ដហោះ'">
                        ព្រលានយន្ដហោះ</mat-checkbox>
                      <mat-checkbox class="" [checked]="store?.selectedCrime?.location_scene?.name == 'សួនច្បារ'">
                        សួនច្បារ
                      </mat-checkbox>
                    </div>
                    <div style="display: flex;flex-direction: column;">
                      <mat-checkbox class=""
                        [checked]="store?.selectedCrime?.location_scene?.name == 'គ្រឹះស្ថានសិក្សា'">
                        គ្រឹះស្ថានសិក្សា</mat-checkbox>
                      <mat-checkbox class="" [checked]="store?.selectedCrime?.location_scene?.name == 'បណ្ដោយផ្លូវ'">
                        បណ្ដោយផ្លូវ</mat-checkbox>
                      <mat-checkbox class="" [checked]="store?.selectedCrime?.location_scene?.name == 'រង្គសាល'">រង្គសាល
                      </mat-checkbox>
                    </div> -->

                    </div>
                    <div class="field">
                      <mat-checkbox [checked]="isLocationOther" (change)="locationOther($event)">ផ្សេងៗ</mat-checkbox>
                      <input class="dot" formControlName="location_other">
                    </div>
                  </td>
                </tr>
                <tr>
                  <th colspan="10">
                    <div class="field tableTdHeight">
                      <label><span class="no">4.1</span> ឈ្មោះទីតាំង</label>​
                      <input class="dot" formControlName="location_name">
                    </div>
                  </th>
                </tr>
              </table>
            </div>
            <div style="width: 50%;" class="mat-res">
              <table style="width:100%" class="tableTd">
                <tr>
                  <th class="bgColor"><label><span class="no">5</span> មូលហេតុបង្ក</label></th>
                </tr>
                <tr>
                  <td>
                    <div>
                      <div class="" style="display: grid; grid-template-columns: repeat(4,1fr); grid-gap: 0em">
                        <ng-container *ngFor="let item of store?.cause; let i = index">
                          <mat-checkbox [checked]="causeCheckedIndex === i" [value]="item"
                            (change)="causeCheckboxChange($event, i)" formControlName="cause">
                            {{item?.Name}}
                          </mat-checkbox>
                        </ng-container>
                        <!-- <mat-checkbox [checked]="store?.selectedCrime?.case_reason?.name == 'គំនុំ'">គំនុំ</mat-checkbox>
                      <mat-checkbox [checked]="store?.selectedCrime?.case_reason?.name == 'ទំនាស់ក្មេងទំនើង'">
                        ទំនាស់ក្មេងទំនើង</mat-checkbox>
                      <mat-checkbox [checked]="store?.selectedCrime?.case_reason?.name == 'ផឹកស៊ីស្រវឹង'">ផឹកស៊ីស្រវឹង
                      </mat-checkbox>
                      <mat-checkbox [checked]="store?.selectedCrime?.case_reason?.name == 'វិកលចរិក'">វិកលចរិក
                      </mat-checkbox>
                      <mat-checkbox [checked]="store?.selectedCrime?.case_reason?.name == 'ភេវរកម្ម'">ភេវរកម្ម
                      </mat-checkbox>
                    </div>
                    <div class="" style="flex:2">
                      <div class="d-flex">
                        <div style="display: flex; flex-direction: column; width: 50%">
                          <mat-checkbox [checked]="store?.selectedCrime?.case_reason?.name == 'ត្រូវការលុយ'">ត្រូវការលុយ
                          </mat-checkbox>
                          <mat-checkbox [checked]="store?.selectedCrime?.case_reason?.name == 'ទំនាស់រកស៊ី'">ទំនាស់រកស៊ី
                          </mat-checkbox>
                          <mat-checkbox [checked]="store?.selectedCrime?.case_reason?.name == 'ល្បែងស៊ីសង'">ល្បែងស៊ីសង
                          </mat-checkbox>
                          <mat-checkbox [checked]="store?.selectedCrime?.case_reason?.name == 'ស៊ីឈ្នួល'">ស៊ីឈ្នួល
                          </mat-checkbox>
                        </div>
                        <div style="display: flex; flex-direction: column; width: 50%">
                          <mat-checkbox [checked]="store?.selectedCrime?.case_reason?.name == 'ទំនាស់ឧក្រិដ្ឋជន'">
                            ទំនាស់ឧក្រិដ្ឋជន</mat-checkbox>
                          <mat-checkbox [checked]="store?.selectedCrime?.case_reason?.name == 'ប្រើប្រាស់គ្រឿងញៀន'">
                            ប្រើប្រាស់គ្រឿងញៀន</mat-checkbox>
                          <mat-checkbox [checked]="store?.selectedCrime?.case_reason?.name == 'វប្បធម័បរទេស'">
                            វប្បធម័បរទេស
                            (វីដេអូ)</mat-checkbox>
                          <mat-checkbox [checked]="store?.selectedCrime?.case_reason?.name == 'អំពើហឹង្សាក្នុងគ្រួសារ'">
                            អំពើហឹង្សាក្នុងគ្រួសារ</mat-checkbox>
                        </div>
                      </div>
                      <div class="field">
                        <mat-checkbox class="">ផ្សេងៗ</mat-checkbox>
                        <input class="dot">
                      </div> -->
                      </div>
                      <div class="field">
                        <mat-checkbox [checked]="isCauseOther" (change)="causeOther($event)">ផ្សេងៗ</mat-checkbox>
                        <input class="dot" formControlName="cause_other">
                      </div>
                    </div>

                  </td>
                </tr>
                <tr>
                  <th class="bgColor"><label><span class="no">6</span> មធ្យោបាយបង្កហេតុ</label></th>
                </tr>

                <tr>
                  <th class="bgColor">
                    <div class="field">
                      <label><span class="no">6.1</span> អាវុធជាតិផ្ទុះ៖</label>
                      <mat-checkbox class="spacing10" [checked]="weaponNoStatus" (change)="noWeapon($event)">គ្មាន
                      </mat-checkbox>
                      <mat-checkbox class="spacing10 color-red" [checked]="weaponHaveStatus"
                        (change)="haveWeapon($event)">មាន
                      </mat-checkbox>
                    </div>
                  </th>
                </tr>
                <tr>
                  <td>
                    <div style="display: grid; grid-template-columns: repeat(4,1fr); grid-gap: 0em">

                      <mat-checkbox *ngFor="let item of store?.weapon; let i = index"
                        [checked]="weaponCheckedIndex === i" [value]="item" (change)="weaponCheckboxChange($event, i)"
                        [disabled]="weaponDisable" formControlName="weapon">
                        {{item?.Name}}
                      </mat-checkbox>

                      <!-- <mat-checkbox>កាំភ្លើងខ្លី</mat-checkbox>
                    <mat-checkbox>កាំភ្លើងវែង</mat-checkbox>
                    <mat-checkbox>កាំភ្លើងកែឆ្នៃ:</mat-checkbox>
                    <mat-checkbox>គ្រាប់បែក</mat-checkbox>
                    <mat-checkbox>ជាតិផ្ទុះកែឆ្នៃ</mat-checkbox> -->
                    </div>
                    <div class="height-mat" class="field">
                      <mat-checkbox [checked]="isWeaponOther" [disabled]="weaponOtherDisable"
                        (change)="weaponOther($event)">ផ្សេងៗ</mat-checkbox>
                      <input class="dot" formControlName="weapon_other">
                    </div>
                  </td>
                </tr>

                <tr>
                  <th class="bgColor">
                    <div class="field">
                      <label><span class="no">6.2</span> មធ្យោបាយផ្សេងទៀត៖</label>
                      <mat-checkbox class="spacing10" [checked]="toolboxNoStatus" (change)="noToolbox($event)">គ្មាន
                      </mat-checkbox>
                      <mat-checkbox class="spacing10 color-red" [checked]="toolboxHaveStatus"
                        (change)="isHaveToolbox($event)">
                        មាន</mat-checkbox>

                    </div>
                  </th>
                </tr>
                <tr>
                  <td>
                    <div style="display: grid; grid-template-columns: repeat(4,1fr); grid-gap: 0em">
                      <mat-checkbox *ngFor="let item of store?.toolbox; let i = index"
                        [checked]="toolboxCheckedIndex === i" [value]="item" (change)="toolBoxCheckboxChange($event, i)"
                        [disabled]="toolboxDisable" formControlName="toolbox">
                        {{item?.Name}}
                      </mat-checkbox>
                    </div>
                    <!-- <div style="display: flex;flex-direction: column;">
                      <mat-checkbox [checked]="store?.selectedCrime?.transportation_other?.name == 'កម្លាំងបង្ខំ'">
                        កម្លាំងបង្ខំ</mat-checkbox>
                      <mat-checkbox [checked]="store?.selectedCrime?.transportation_other?.name == 'ពូថៅ'">ពូថៅ
                      </mat-checkbox>
                    </div>
                    <div style="display: flex;flex-direction: column;">
                      <mat-checkbox [checked]="store?.selectedCrime?.transportation_other?.name == 'កាំបិត'">កាំបិត
                      </mat-checkbox>
                      <mat-checkbox [checked]="store?.selectedCrime?.transportation_other?.name == 'សារធាតុគីមី'">
                        សារធាតុគីមី</mat-checkbox>
                    </div>
                    <div style="display: flex;flex-direction: column;">
                      <mat-checkbox [checked]="store?.selectedCrime?.transportation_other?.name == 'ជាវ'">ជាវ
                      </mat-checkbox>
                      <mat-checkbox [checked]="store?.selectedCrime?.transportation_other?.name == 'អាស៊ីត'">អាស៊ីត
                      </mat-checkbox>
                    </div>
                    <div style="display: flex;flex-direction: column;">
                      <mat-checkbox [checked]="store?.selectedCrime?.transportation_other?.name == 'ខ្សែរិត'">ខ្សែរិត
                      </mat-checkbox>
                      <mat-checkbox [checked]="store?.selectedCrime?.transportation_other?.name == 'សារធាតុពុល'">
                        សារធាតុពុល</mat-checkbox>
                    </div> -->
                    <div style="display: flex;flex-direction: column;">
                      <div class="field">
                        <mat-checkbox [checked]="isToolboxOther" [disabled]="toolboxOtherDisable"
                          (change)="toolboxOther($event)">ផ្សេងៗ</mat-checkbox>
                        <input class="dot" formControlName="toolbox_other">
                      </div>
                    </div>

                  </td>
                </tr>
                <tr>
                  <th class="bgColor">
                    <div class="field">
                      <label><span class="no">6.3</span> មធ្យោបាយធ្វើដំណើរ៖</label>
                      <mat-checkbox class="spacing10" [checked]="transportTypeNoStatus"
                        (change)="noTransportType($event)">គ្មាន
                      </mat-checkbox>
                      <mat-checkbox class="spacing10 color-red" [checked]="transportTypeHaveStatus"
                        (change)="isHaveTransportType($event)">
                        មាន</mat-checkbox>

                    </div>
                  </th>
                </tr>
                <tr>
                  <td>
                    <div class="field">
                      <mat-checkbox *ngFor="let item of store?.transportType; let i = index"
                        [ngClass]="i > 0 ? 'spacing': ''" [checked]="transportTypeCheckedIndex === i" [value]="item"
                        (change)="transportTypeCheckboxChange($event, i)" [disabled]="transportTypeDisable"
                        formControlName="transportType">
                        {{item?.Name}}
                      </mat-checkbox>
                      <!-- <mat-checkbox *ngFor="let item of store?.transportType; let i = index;"
                        [ngClass]="i > 0 ? 'spacing': ''">
                        {{item?.Name}}
                      </mat-checkbox> -->
                      <!-- <mat-checkbox [checked]="store?.selectedCrime?.transportation?.name == 'កង់'">កង់</mat-checkbox>
                    <mat-checkbox class="spacing" [checked]="store?.selectedCrime?.transportation?.name == 'ម៉ូតូ'">
                      ម៉ូតូ
                    </mat-checkbox>
                    <mat-checkbox class="spacing" [checked]="store?.selectedCrime?.transportation?.name == 'រថយន្ដ'">
                      រថយន្ដ</mat-checkbox>
                    <mat-checkbox class="spacing" [checked]="store?.selectedCrime?.transportation?.name == 'ទូក/កាណូត'">
                      ទូក/កាណូត</mat-checkbox>
                    <mat-checkbox class="spacing" [checked]="store?.selectedCrime?.transportation?.name == 'ថ្មើរជើង'">
                      ថ្មើរជើង</mat-checkbox> -->
                    </div>
                    <div class="field">
                      <mat-checkbox [checked]="isTransportOther" [disabled]="transportOtherDisable"
                        (change)="transportOther($event)">ផ្សេងៗ</mat-checkbox>
                      <input class="dot" formControlName="transport_other">
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="bgColor"><label><span class="no">7</span> សិត្ដិសង្ខេប</label></th>
                </tr>
                <tr>
                  <td class="p-0">
                    <table style="width:100%" class="tableTd no-bd">
                      <tr>
                        <td class="no-bt-bb no-bl">
                          <div class="field">
                            <label><span class="no">7.1</span> ចំនួនជនរងគ្រោះ</label>
                            <input class="dot" type="number" style="margin-bottom: 5px;" formControlName="victim_total">
                            <label>នាក់</label>
                          </div>
                          <div class="field" style="font-size: 12px;color: red;padding: 0 24px;">
                            <label>(ស្រី</label>
                            <input class="dot" type="number" style="font-size: 12px;color: red;"
                              formControlName="victim_female_total">
                            <label>នាក់)</label>
                          </div>
                        </td>
                        <td class="no-bt-bb">
                          <div class="field">
                            <label><span class="no">7.1</span> ចំនួនជនសង្ស័យ</label>
                            <input class="dot" type="number" style="margin-bottom: 5px;"
                              formControlName="suspect_total">
                            <label>នាក់</label>
                          </div>
                          <div class="field" style="font-size: 12px;color: red;padding: 0 24px;">
                            <label>(ស្រី</label>
                            <input class="dot" type="number" style="font-size: 12px;color: red;"
                              formControlName="suspect_female_total">
                            <label>នាក់)</label>
                          </div>
                        </td>
                        <label class="no-bt-bb no-br">
                          <div class="field">
                            <label> <span class="no">7.1</span> ឃាត់ខ្លួនបាន</label>
                            <input class="dot" type="number" style="margin-bottom: 5px;"
                              formControlName="arrested_total">
                            <label>នាក់</label>
                          </div>
                          <div class="field" style="font-size: 12px;color: red;padding: 0 24px;">
                            <label>(ស្រី</label>
                            <input class="dot" type="number" style="font-size: 12px;color: red;"
                              formControlName="arrested_female_total">
                            <label>នាក់)</label>
                          </div>
                        </label>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="" style="padding: 3px 4px;">
                    <div class="field">
                      <label><span class="no">7.2</span> បញ្ជីសម្ភារ:បាត់បង់</label>
                      <mat-checkbox class="spacing10" [checked]="materialLostNoStatus"
                        (change)="noMaterialLost($event)">
                        គ្មាន</mat-checkbox>
                      <mat-checkbox class="spacing10" [checked]="materialLostHaveStatus"
                        (change)="isHaveMaterialLost($event)">មាន (សូមបំពេញតារាង B)</mat-checkbox>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="" style="padding: 3px 4px;">
                    <div class="field">
                      <label><span class="no">7.3</span> មធ្យោបាយធ្វើដំណើរ៖</label>
                      <mat-checkbox class="spacing10" [checked]="transportNoStatus" (change)="noTransport($event)">គ្មាន
                      </mat-checkbox>
                      <mat-checkbox class="spacing10" [checked]="transportHaveStatus"
                        (change)="isHaveTransport($event)">
                        មាន (សូមបពេញតារាង C)</mat-checkbox>

                    </div>
                  </td>
                </tr>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cr-control-bottom">
      <a class="enbutton cancel m-r16" mat-dialog-close="" (click)="_goBack()">បោះបង់</a>
      <button mat-button class="enbutton primary m-r16" [disabled]="!form.valid || store?.loading"
        (click)="save(form.value)">បន្ទាប់</button>
      <button mat-button (click)="print()" class="enbutton primary">
        <mat-icon class="mat-18">print</mat-icon>
      </button>
    </div>
  </form>
</ng-container>
<app-spinner *ngIf="store?.loading"></app-spinner>